.footer-checkout {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #333333
}

.footer-checkout .footer-box {
    padding: 1rem 0
}

.footer-checkout .footer-text-copyright {
    border-top: 1px solid #333333;
    color: #333333
}

.footer-checkout .footer-callcenter-phone {
    font-size: 2.2rem;
    margin: 0 0 .5rem 0;
    font-weight: bold
}

.footer-checkout .footer-callcenter-time {
    margin: 0
}

.footer-checkout .footer-paymentMethods {
    max-width: 100%;
    padding: 0 3vw;
    margin: 0
}

.footer-checkout .footer-paymentMethods ul {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333
}

@media screen and (max-width: 989px) {
    .footer-checkout .footer-paymentMethods ul {
        border: none
    }
}