#checkoutHeader{width: 100%; z-index: 100; background-color: #fff; box-shadow: 1px 1px 10px 3px #ededed}
.checkoutHeader-step{order: 2; background-position: 100px 100px; max-width: 620px; height: 50px}
#checkoutHeader .header-logo{text-align: left}
#checkoutHeader .header-logo a{position: inherit; margin: 0}
#checkoutHeader .seal-securityBuy{order: 3; max-width: 147px; height: 38px; background-position: -300px -250px}
#checkoutHeader.step-identification .header-cart{display: none !important}
.step-identification .checkoutHeader-step{background-position: 0 -350px}
.step-shipping .checkoutHeader-step{background-position: 0 -400px}
.step-payment .checkoutHeader-step{background-position: 0 -450px}

@media only screen and (max-width:480px) {
    #checkoutHeader .header-seal-secure{display: none;}
    #checkoutHeader .header-content{justify-content: center;}
}