.nav-primary{text-align: left; margin-bottom: 30px;}
.nav-primary .heading-secondary{margin-bottom: 5px; background: $colorSecondary; padding: 18px; border: none; box-sizing: border-box;}
.nav-primary .heading-secondary h2{color: #fff; font-size: 15px; line-height: 18px; margin: 0;}
.nav-primary li{list-style: none}
.nav-primary>ul>li{margin-bottom: 2rem}
.nav-primary nav ul, .nav-primary li ul{padding: 0}
.nav-primary li>a{font-size: 16px; line-height: 18px; padding: 12px 3px 12px 5px; display: block; color: #666; border-bottom: 1px solid #ddd;}
.nav-primary li>a:hover{color: $colorPrimary; padding: 12px 0 12px 8px;}

.dpto-name{text-align: center !important; padding: 0; position: relative; overflow: hidden;}
.dpto-name:after{content: ''; display: block; width: 1100px; height: 1px; background: $colorSecondary; position: absolute; left: 0; top: 55%;}
.dpto-name span{color: $colorSecondary; font-size: 30px; font-weight: bold; display: inline-block; vertical-align: top; position: relative; z-index: 20; padding: 0 30px; background: #fff;}
.dpto-name span:before{content: ''; display: inline-block; vertical-align: top; width: 30px; height: 30px; background: url(../imagens/icon-title.svg) no-repeat center; margin-right: 10px;}

/* Vitrines */
#collection-box{display: block; font-size: 0;}
#collection-aside{margin-right: 3.5rem; width: 270px; display: inline-block; vertical-align: top;}
#collection-content{width: calc(100% - 270px - 3.5rem); display: inline-block; vertical-align: top;}
.collection-pagination{clear: both}
.collection-pagination .heading-secondary h1{display: inline-block}
.collection-top .collection-pagination{display: inline-block; vertical-align: middle; float: left; text-align: left; max-width: calc(100% - 80px)}
.collection-top .collection-pagination .heading-quinary h1, .collection-top .collection-pagination .heading-quinary h2, .collection-top .collection-pagination .heading-quinary h3{font-size: 2.2rem}
.collection-pagination-quantity{display: none}
.collection-top .collection-pagination-quantity{display: inline; line-height: 35px; color: #666; margin-left: .5rem}
.collection-top .collection-pagination-pages{display: none}
.collection-pagination-pages{padding: 60px 0 20px 0; text-align: right}
.collection-pagination-pages a{color: #fff; color: $colorSecondary; border: 2px solid $colorSecondary; display: inline-block; font-size: 17px; line-height: 26px; margin: 0 5px; padding: 8px 15px; box-sizing: border-box; border-radius: 10px;}
.collection-pagination-pages a.first-page::before{content: "<< "}
.collection-pagination-pages a.prev-page::before{content: "< "}
.collection-pagination-pages a.next-page::after{content: " >"}
.collection-pagination-pages a.last-page::after{content: " >>"}
.collection-pagination-pages a.active{background: $colorSecondary; color: #fff}
.collection-ordenation{position: relative; display: inline-block; width: 140px; height: 3.2rem}
.collection-ordenation svg.icon-sort{display: none;}
.collection-ordenation select{position: absolute; top: 0; left: 0; width: auto; height: 100%; padding: 0 10px; border: 1px solid $colorSecondary; color: #777; border-radius: 10px; box-sizing: border-box;}
.collection-ordenation .icon-sort{position: absolute; top: 0; right: 0; width: 18px; height: 18px; padding: 7px; fill: #FFF; background-color: $colorSenary; border-radius: 5px;}

/* Filtros */
.js--collection-filter{display: inline-block; width: 18px; height: 18px; padding: 7px; margin-right: 1rem; background: $colorSenary; vertical-align: top; border-radius: 5px;}
.js--collection-filter .icon-filter{width: 18px; height: 18px; fill: #fff;}
.filter-groups{margin: 0}
.filter-groups .heading-secondary{font-size: 1.4rem; line-height: 1.6rem; padding: .8rem 0 1.2rem}
.filter-groups .nav-filter-heading, .nav-PriceRange .nav-filter-heading{padding: 0; background: #f4f4f4; margin: 3rem 0 1rem 0;}
.filter-groups .nav-filter-heading h3, .nav-PriceRange .nav-filter-heading h3{padding: 18px; font-size: 1.5rem; line-height: 1.4rem; color: $colorSecondary; font-weight: bold; text-transform: uppercase;}
.filter-groups .nav-filter-heading .filter-groups-title{margin: 0 0 .5rem 0}
.nav-primary.filter-groups li>a{}
.nav-filterBy{text-align: left; font-size: 0}
.nav-filterBy .heading-tertiary{margin-bottom: .5rem;}
.nav-filterBy a{margin: .5rem .5rem 2rem .5rem; display: inline-block; height: 34px; font-size: 13px; font-weight: 500; color: rgba(0, 0, 0, 0.6); line-height: 34px; padding: 0 14px; border-radius: 16px; background-color: #e4e4e4; margin-bottom: 5px; margin-right: 5px;}
.nav-filterBy .icon-close{fill: $colorQuinary; width: 8px; height: 8px; margin-left: 1rem}
.nav-filterBy a:hover .icon-close{fill: #E63A3B}
.nav-PriceRange{border: none; text-align: left; font-size: 0;}
.nav-PriceRange label{display: inline-block; vertical-align: top; padding: .5rem 0 .3rem; width: calc(48% - 18.5px); margin-right: 2%;}
.nav-PriceRange label select{border: 1px solid #f4f4f4; background: #f4f4f4; color: #666666; padding: .95rem .8rem; font-size: 1.3rem; width: 100%;}
.bt-PriceRange{margin-top: .5rem; font-weight: normal; display: inline-block; vertical-align: top; width: 37px; height: 37px; color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; background-color: $colorSecondary; border-color: $colorSecondary; font-size: 2.6rem; line-height: 34px; text-align: center;}
.dept-noResults-info.sorry-info{padding-bottom: 0}
.dept-noResults-info.sorry-info ul{margin-bottom: 0}

/* Carregar mais Produtos */
.moreProducts{clear: both; padding: 10px 0; text-align: center}
#upGetProducts-loading{background: url("../imagens/loading.gif?v01") no-repeat center center/auto 100%; display: none; margin: 5px auto; text-indent: -9999px; width: 59px; height: 89px}
.loading #upGetProducts-loading{display: block}

/* Não Encontrado */
.sorry{padding: 0; text-align: center}
.sorry-content{display: table; margin: 0 auto; overflow: hidden; text-align: center; white-space: nowrap}
.sorry-info{display: inline-block; padding: 2rem 0 2rem 0; vertical-align: top; white-space: normal}
.sorry-info h2{font-size: 1.8rem; margin-bottom: 30px}
.sorry-info h2 strong{font-size: 3rem}
.sorry-info h3{font-size: 1.8rem; margin-bottom: 1rem}
.sorry-info ul{margin-bottom: 2rem}
.sorry-info li{list-style: none; font-size: 1.3rem; padding: 2px 0}
.sorry-info p{display: block; font-size: 1.4rem; line-height: 2rem; margin-bottom: 10px}
.sorry-info .collection-noResults-mainDepartment{font-size: 1.3rem; font-weight: bold; text-decoration: underline}
.sorry-search{border: none; margin-bottom: 5rem; text-align: center}
.sorry-search input{font-size: 1rem; height: 40px; text-indent: 15px; width: 300px}
.sorry-search a{vertical-align: top}

@media only screen and (max-width:1000px) {
	.js--dept-collection{padding-top: 2rem;}
	main.box-content{margin-top: 1rem;}
	
	.collection>ul{border-bottom: 1px solid #ddd;}
	.collection-li:nth-child(odd){border: 1px solid #ddd; border-bottom: none; box-sizing: border-box;}
	.collection-li:nth-child(even){border-top: 1px solid #ddd; border-right: 1px solid #ddd; box-sizing: border-box;}

	.collection-ordenation{width: 3.2rem;}
	.collection-ordenation svg.icon-sort{display: block;}
	.collection-ordenation select{opacity: 0;}

	.dpto-name{text-align: left !important; padding-bottom: 1rem; margin-bottom: 1rem; border-bottom: 1px solid #ddd;}
	.dpto-name:after{display: none;}
	.dpto-name span{font-size: 22px; line-height: 22px; padding: 0;}
	.dpto-name span:before{width: 22px; height: 22px; background-size: auto 22px; margin-right: 10px;}

	.collection-pagination-pages{text-align: center;}
	.collection-pagination-pages a{font-size: 15px; line-height: 24px; padding: 6px 12px;}
}

@media only screen and (max-width:755px) {
    .collection-li{min-width: 50% !important; max-width: 50%}
}

@media only screen and (max-width:460px) {
    .collection-product-price span{font-size: 18px; line-height: 18px;}
    .collection-product-price span{font-size: 18px; line-height: 18px;}
    .collection-product-buy .spin{display: block; width: 100%; margin: 0;}
    .collection-product-buy .collection-product-buy-bt{font-size: 1.6rem; margin-top: 10px; width: 100%; max-width: 100%;}
}
