.shipping-billingAdress-question {
    background: #f5f5f5;
    margin: 10px;
    padding: 5px 10px
}

.shipping-address {
    margin: 2rem 0;
    padding: 1rem;
    list-style: none;
    border: 1px solid #d7d7d7;
    box-sizing: border-box
}

.shipping-address h3 {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 36px;
    background-color: #f0efe9;
    padding: 0 15px;
    margin-bottom: 1rem
}

.shipping-address .link-default {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: underline
}

.shipping-address-content {
    padding: 0;
    color: #666
}

.shipping-address-content p {
    font-size: 1.4rem;
    line-height: 2.2rem
}

.shipping-address-name {
    font-weight: bold;
    margin-bottom: 10px
}

.shipping-address-city {
    display: block;
    text-transform: uppercase
}

.shipping-address-bt {
    margin-top: 10px
}

// .form-box-heading {
//     background: none;
//     border: none;
// }

.new-address {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1.5rem;
    border: none
}

.new-address .icon-toDown {
    width: 16px;
    height: 16px;
    margin: .3rem .5rem;
    fill: #7c7c7c;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: .3s
}

.new-address.active .icon-toDown {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.shipping-methods {
    margin: 20px 0
}

.shipping-methods li {
    background: #d7d7d7;
    padding: 4px;
    list-style: none;
    margin: 10px 0
}

.shipping-methods li:hover,
.shipping-methods li.active {
    background: #9bdbcf
}

.shipping-method {
    background: #FFF;
    width: 100%
}

.shipping-method td {
    padding: 15px;
    color: $colorTertiary
}

.shipping-method td strong {
    display: block;
    margin-bottom: 5px;
    font-size: 14px
}