.errorPage {
    width: 80%;
    margin: 50px auto
}

.errorPage-content {
    margin-top: 30px
}

.errorPage-content .heading-primary h2 {
    font-size: 28px;
    font-weight: bold
}

.errorPage-content .heading-primary p {
    font-size: 16px;
    line-height: 1.6em;
    padding-bottom: 15px
}

.errorPage-content p {
    line-height: 1.5em;
    padding: 15px 0
}