.ask {
    color: #49403f;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
    position: relative;   
}

.ask.active {
    background-color: $colorPrimary;
    color: #FFFFFF
}

.ask h4 {
    font-weight: normal
}

.ask-icons {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

.ask.active .ask-icons {
    margin-top: -6px;    
}

.ask-icons svg {
    width: 12px;
    height: 12px;
    fill: #49403f;
    animation: .5s fade
}

.ask-icons .icon-remove,.ask.active .icon-add,.ask-icons .icon-toDown,.ask.active .icon-toTop {
    display: none
}

.ask.active .icon-remove,.ask.active .icon-toTop {
    display: block
}

.ask.active .ask-icons svg {
    fill: #FFFFFF
}

.answer {
    border: 0.1rem solid #d7d7d7;
    box-sizing: border-box;
    display: none;
    line-height: 2.2rem;
    margin: 1rem 0;
    overflow: hidden;
    padding: 1.5rem;
    text-align: left
}

.faq .heading-secondary {
    background: transparent;
    padding: .5rem 0;
    margin: 1rem 0 1.5rem 0;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.contact:after {
    content: "";
    display: block;
    clear: both
}

.contact-content p {
    line-height: 1.5em
}

@media only screen and (min-width: 990px) {
    .contact.form textarea {
        height:17.35rem
    }
}
