#footer{font-weight: normal; background: url(../imagens/bg-footer-middle.png); box-sizing: border-box; position: relative; width: 100%; display: block; clear: both; margin-top: 5rem;}
.footer-content{font-size: 0; display: block;}
.footer-txt-list li a, .footer-txt-list li span{transition: .4s; color: $colorQuaternary; font-size: 15px; display: inline-block; vertical-align: middle;}
.footer-box{display: inline-block; vertical-align: top; box-sizing: border-box; text-align: left;}
.footer-top{text-align: center; background: $colorPrimary; color: #FFF;}
.footer-top .footer-box{vertical-align: middle;}
.footer-middle{}
.footer-middle .footer-box{vertical-align: top;}
.footer-middle .footer-box h4{font-weight: bold; text-transform: uppercase; color: #555;}
.footer-middle .footer-box ul+h4{margin-top: 2rem}
.footer-middle .footer-box ul li{list-style: none; font-size: 16px;}
.footer-middle .footer-box ul li svg{margin-right: 25px !important; width: 20px; height: 20px; position: relative; z-index: 21; margin: 13px; fill: $colorPrimary;}
.footer-middle .rodape_atendimento ul li a{position: relative;}
.footer-middle .rodape_atendimento ul li a:before{content: ''; display: block; width: 44px; height: 44px; border: 1px solid $colorPrimary; border-radius: 100%; position: absolute; z-index: 20; left: 0; top: 0; background: #fff;}
.footer-middle .plugin_facebook{text-align: right;}
.footer-middle .footer-box ul li a{display: block; color: inherit;}
.footer-middle .footer-box ul[data-tab-content="footer-callcenter"] li a{padding-left: 0;}
.footer-middle.footer-middle-01 .box-content{border-bottom: 1px solid #ccc;}
.footer-middle.footer-middle-01 h4{display: none;}
.footer-middle.footer-middle-01 .footer-txt-list li a, .footer-middle.footer-middle-01 .footer-txt-list li span{color: #666; font-size: 16px; font-weight: bold;}

.footer-middle .lojas{font-size: 0;}
.footer-middle .lojas li{display: inline-block; vertical-align: top; width: 33.3%; margin: 15px 0; font-size: 15px; font-weight: bold; color: #666;}
.footer-middle .lojas li h4{font-size: 17px; font-weight: bold; color: $colorPrimary;}
.footer-middle .lojas li span{text-align: left; display: inline-block; min-width: 190px; position: relative; padding: 5px 0 5px 60px;}
.footer-middle .lojas li span svg{width: 22px; height: 22px; position: absolute; left: 0; top: 0; z-index: 20; margin: 12px;}
.footer-middle .lojas li span:after{content: ''; display: block; width: 44px; height: 44px; border: 1px solid $colorPrimary; position: absolute; z-index: 10; left: 0; top: 0; background: #fff; border-radius: 100px;}
.footer-middle .lojas li:nth-of-type(2), .footer-middle .lojas li:nth-of-type(5){text-align: center;}
.footer-middle .lojas li:nth-of-type(3), .footer-middle .lojas li:nth-of-type(6){text-align: right;}

.footer-bottom .box-content{border-top: 1px solid #DDD;}
.footer-institutional ul{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; padding-right: 20px;}
.footer-institutional ul li{display: inline-block; vertical-align: top; width: 100%;}
.footer-newsletter{text-align: center;}
.footer-newsletter .footer-email input{border-color: #FFFFFF}
.footer-newsletter input::-webkit-input-placeholder{color: $colorPrimary; font-weight: 500;}
.footer-newsletter input:-moz-placeholder{color: $colorPrimary; font-weight: 500;}
.footer-newsletter input::-moz-placeholder{color: $colorPrimary; font-weight: 500;}
.footer-newsletter input:-moz-placeholder{color: $colorPrimary; font-weight: 500;}
.footer-newsletter input:-ms-input-placeholder{color: $colorPrimary; font-weight: 500;}
.footer-newsletter .footer-newsletter-title{display: inline-block; vertical-align: middle; margin: 15px 25px 15px 0;}
.footer-newsletter-title svg{display: inline-block; vertical-align: middle; width: 42px; height: 30px; fill: #FFFFFF; margin-right: 15px;}
.footer-newsletter .footer-newsletter-title h4{display: inline-block; vertical-align: middle; color: #FFF; font-weight: normal; font-style: italic;}
.footer-newsletter .footer-newsletter-title p{font-size: 17px; line-height: 17px; color: #FFF; font-weight: normal; margin: 0 0 3em 0; text-align: center;}
.footer-newsletter fieldset{display: block; margin: 0; vertical-align: middle; border: none; text-align: center;}
.footer-newsletter .footer-sexo{display: inline-block; vertical-align: middle; text-align: left;}
.footer-newsletter .footer-sexo input{display: none;}
.footer-newsletter .footer-sexo label{height: 18px; line-height: 18px; padding: 4px 0; position: relative; display: block;}
.footer-newsletter .footer-sexo label[for="newsletter_radioButonMasculino"],
.footer-newsletter .footer-sexo label[for="newsletter_radioButonFeminino"]{font-size: 0;}
.footer-newsletter .footer-sexo label[for="newsletter_radioButonMasculino"]:after{content: 'Produtos Masculinos'; font-size: 13px;}
.footer-newsletter .footer-sexo label[for="newsletter_radioButonFeminino"]:after{content: 'Produtos Femininos'; font-size: 13px;}
.footer-newsletter .footer-sexo input[type="radio"] + label:before{content: ''; display: block; width: 18px; height: 18px; background: #fff; float: left; margin-right: 5px;}
.footer-newsletter .footer-sexo input[type="radio"]:checked + label:before{content: 'X'; font-size: 14px; color: #666; text-indent: 4px; line-height: 18px;}
.footer-newsletter label.submit{display: inline-block; vertical-align: middle;}
.footer-newsletter-bt{position: relative; width: 180px; height: 52px; line-height: 52px; padding: 0 2rem; box-sizing: border-box; font-size: 15px; font-weight: bold; margin-left: 20px; border-radius: 30px;}
.footer-about p{font-size: 14px; line-height: 22px; color: #6b6b6b;}
.footer-social a{display: inline-block; vertical-align: middle; margin: 0 1rem 0 0; padding: 10px; border-radius: 100%; background: $colorSecondary;}
.footer-social a svg{fill: #fff;}
.footer-social a:last-of-type{margin-right: 0}
.footer-callcenter svg.icon-phone, .footer-callcenter svg.icon-whatsapp, .footer-callcenter svg.icon-mail{margin-right: 8px; width: 15px; height: 15px;}
.footer-callcenter .footer-callcenter-phone{display: block; font-size: 2rem; font-weight: normal; margin: 0; color: $colorPrimary;}
.footer-callcenter .footer-address{display: block; font-size: 1.4rem; margin-top: 2rem; color: $colorQuaternary;}
.footer-atendimento svg.icon-clock{width: 16px; height: 16px;}
.footer-paymentMethods{font-size: 0; box-sizing: border-box; display: inline-block; vertical-align: middle;}
.footer-paymentMethods h4{font-size: 17px; font-weight: bold; color: $colorPrimary; margin-bottom: 10px;}
.footer-paymentMethods ul{display: inline-block; vertical-align: top;}
.footer-paymentMethods li{float: left; margin: .5rem 1rem .5rem 0; width: 60px; font-size: 0;}
.footer-paymentMethods li span{display: inline-block; vertical-align: middle;}
.footer-paymentMethods li img{width: 100%; display: block}
.footer-seals-security h4{font-size: 17px; font-weight: bold; color: $colorPrimary; margin-bottom: 10px;}
.footer-seals{box-sizing: border-box; display: inline-block; vertical-align: middle;}
.footer-seals>a img, .footer-seals>img{display: inline-block; vertical-align: middle; padding: 0}
.footer-seals .footer-seals-googleSafeBrowsing{width: 90px;}
.footer-seals .footer-seals-letsencrypt{width: 80px; position: relative; top: -8px;}
.footer-poweredBy{font-size: 0; display: inline-block; vertical-align: middle;}
.footer-poweredBy a{display: inline-block; vertical-align: middle; /*margin: 10px 50px 0 0;*/ background: url('../imagens/logo-jobspace-ciashop.svg') no-repeat;}
.footer-poweredBy .poweredBy-ciashop{background-position: 0 0; width: 80px; height: 50px;}
.footer-poweredBy .poweredBy-jobspace{background-position: -123px 0; width: 80px; height: 50px;}
.footer-text{padding-bottom: 1.8rem;}
.footer-text.box-shadow-hide{box-shadow: none}
.footer-text h1{display: inline-block; font-weight: inherit; font-size: inherit; border: 0; margin: 0; padding: 0}
.footer-text h2{font-size: 1.6rem; font-weight: normal; line-height: 3.8rem}
.footer-text-copyright{color: #aaa; font-size: 13px; line-height: 16px; font-weight: normal;}
.footer-text-copyright p{}
.footer-text-copyright p span{display: inline-block; padding: 0 10px;}
/*.footer-text-copyright h4{margin: 12px auto 0; font-weight: normal;}*/
.footer-text span{display: block}
.footer-cookies{background-color: #e0e0e0; font-size: 1.4rem; color: $colorSecondary; height: 3rem; line-height: 3rem; padding: 1rem 0; text-align: center}
.footer-cookies a{text-transform: uppercase; font-weight: bold}
.footer-cookies .icon-close{fill: #e0e0e0; width: 12px; height: 12px; padding: 4px; background: $colorSecondary; border-radius: 50%}
.footerCheckout .footer-middle{background: $colorTertiary;}
.footerCheckout .footer-poweredBy{display: none;}
.footerCheckout .footer-middle .footer-box h4{color: #FFFFFF;}
@media screen and (min-width:991px) {
    .footer-txt-list li a{padding: 0 0 15px 0;}
    .footer-txt-list li:last-of-type a{}
    .footer-txt-list li:hover a{padding-left: 8px; transition: .4s}
    .footer-top .footer-content{padding-top: 5rem; padding-bottom: 5rem}
    .footer-middle .footer-content{padding: 60px 15px;}
    /*.footer-middle .footer-content:last-of-type{padding-top: 80px;}*/
    .footer-middle .footer-box h4{font-size: 17px; line-height: 18px; margin: 0 0 25px 0;}
    .footer-bottom .footer-content{padding: 60px 15px;}
    .footer-poweredBy{padding-top: 31px;}
    .footer-newsletter .footer-newsletter-title h4{font-size: 30px;}
    .footer-newsletter{width: 100%;}
    .footer-newsletter .footer-newsletter-title{}
    .footer-newsletter fieldset{display: inline-block; vertical-align: middle; font-size: 13px; text-transform: uppercase;}
    .footer-newsletter .footer-email, .footer-newsletter .footer-name{padding-right: 1.5rem; display: inline-block; vertical-align: middle; box-sizing: border-box;}
    .footer-newsletter .footer-email input, .footer-newsletter .footer-name input{height: 52px; width: 380px; font-size: 15px; padding: 0 1.5rem; color: #333; border-radius: 30px;}
    .footer-newsletter .submit{display: inline-block; vertical-align: middle; width: 175px;}
    .footer-help{}
    .footer-atendimento{margin-top: 55px;}
    .footer-social{margin-top: 30px;}
    .footer-social a svg{width: 26px; height: 26px;}
    .footer-store{margin-top: 5rem}
    .footer-seals>a img, .footer-seals>img{margin: 0 50px 0 0;}
    .footer-text-copyright{text-align: center; padding: 0 15px 60px 15px;}
    .footerCheckout .footer-middle .footer-content{padding: 40px 0 !important;}
    .footerCheckout .footer-box{text-align: center;}
    .footerCheckout .footer-paymentMethods{text-align: center;}

    .footerCheckout .footer-seals-security{text-align: center;}
    .footerCheckout .footer-seals-security .footer-seals>img, .footerCheckout .footer-seals-security .footer-seals>a img{margin: 0 20px}
}

@media screen and (max-width:1150px) {
    .footer-middle.footer-middle-01 .footer-txt-list li a, .footer-middle.footer-middle-01 .footer-txt-list li span{font-size: 14px;}
}

@media screen and (max-width:990px) {
    .footer-top .footer-content{padding-top: .5rem; padding-bottom: .5rem}
    .footer-middle .footer-content{padding: 1.5rem;}
    .footer-middle .footer-box h4{font-size: 16px; line-height: 16px; margin-bottom: 15px;}
    .footer-middle.footer-middle-01 .box-content{padding-bottom: 0 !important; border: none;}
    .footer-middle.footer-middle-02 .box-content{padding-top: 0 !important;}
    .footer-box .footer-paymentMethods h4, .footer-box .footer-seals-security h4{font-size: 18px; line-height: 18px;}
    .footer-middle .footer-box h4.js--tab-title, h4.js--tab-title{text-align: left !important; padding: 1.5rem 0; margin: 0; border-bottom: 1px solid rgba(255,255,255,0.2); position: relative}
    .footer-middle .js--tab-content li{display: block; width: calc(100% - 1rem); margin: .5rem; text-align: left; padding-left: 1rem}
    .js--tab-title-icon svg{fill: $colorQuinary;}
    .footer-box{text-align: center}
    .footer-text .box-content{display: flex; flex-wrap: wrap-reverse}
    .footer-about{margin: 3rem 0;}
    .footer-about img{margin: 0 0 3rem 0;}
    .footer-about p{width: 80%;}
    .footer-institutional-links{margin: 1rem 0 2rem; width: 100%}
    .footer-text .footer-poweredBy{margin-bottom: 2rem}
    .footer-poweredBy a{margin: 1rem 1rem 0;}
    .footer-newsletter fieldset{padding-bottom: 1.5rem;}
    .footer-newsletter .footer-sexo{margin-bottom: 10px;}
    .footer-newsletter .footer-newsletter-title{margin: 1.5rem 0;}
    .footer-newsletter .footer-newsletter-title h4{font-size: 2rem; line-height: 2.4rem; padding-left: 1rem;}
    .footer-newsletter .footer-email, .footer-newsletter .footer-name{margin-bottom: 1rem; display: inline-block; vertical-align: top; width: 100%;}
    .footer-newsletter .footer-email input, .footer-newsletter .footer-name input{height: 45px; width: 100%; max-width: 350px; font-size: 1.4rem; line-height: 1.4rem; padding: 1rem}
    .footer-newsletter-bt{}
    .footer-social{display: block; padding: 25px 0;}
    .footer-social a{margin: 0 1.5rem}
    .footer-social a svg{width: 32px; height: 32px;}
    .footer-txt-list li{display: inline-block; margin: .5rem}
    .footer-txt-list li a{padding: .8rem 0;}
    .footer-callcenter li a{padding: 0;}
    .footer-middle .lojas li{box-sizing: border-box; text-align: left !important; margin: 0.5rem 0 1.5rem 0;}
    .footer-middle .lojas li span{padding: 0 0 0 45px; font-size: 14px;}
    .footer-middle .lojas li span svg{width: 18px; height: 18px; margin: 8px; margin-right: 20px !important;}
    .footer-middle .lojas li span:after{width: 34px; height: 34px;}
    .footer-bottom .footer-content .footer-box:nth-of-type(1){border-bottom: 1px solid #ddd; margin-bottom: 3rem;}
    .footer-paymentMethods, .footer-poweredBy, .footer-seals{padding: 0 0 3rem; margin: 0 0 3rem 0; display: inline-block; vertical-align: top; width: 100%; border-bottom: 1px solid #d7d7d7; box-sizing: border-box;}
    .footer-poweredBy{margin-bottom: 0; border-bottom: 0;}
    .footer-paymentMethods ul{width: 100%; display: inline-flex; align-items: center; justify-content: space-around; flex-wrap: wrap;}
    .footer-paymentMethods li{margin: 5px 0.3%; width: 15%;}
    .footer-seals>a img, .footer-seals>img, .footer-poweredBy > a{margin: 10px 20px 0 0;}
    .footer-institutional{order: 1;}
    .rodape_atendimento{order: 2;}
    .footer-poweredBy ul{display: inline-flex; align-items: center; justify-content: center; flex-wrap: wrap;}
    .footer-text h2{border-top: 1px solid #ccc}
    .footer-text-copyright p{line-height: 20px;}
    .footer-text-copyright p span{display: block; font-size: 0; line-height: 0;}
    .footerCheckout .footer-middle .footer-content{padding: 40px 0 !important;}
    .footerCheckout .footer-seals{padding: 0; margin: 0; border: 0;}
    .footerCheckout .footer-paymentMethods{padding: 0 1rem 3rem 1rem;}
}
@media screen and (max-width: 576px){
    .footer-newsletter .footer-newsletter-title p{display: none;}
    .miniCart-table{margin-bottom: 50px;}
}
@media screen and (max-width:360px) {
    .instaHome .instaHome-title h3{font-size: 23px; line-height: 23px;}
}
