@font-face{font-family: 'Lato'; font-display: auto; src: url('../fontes/Lato-Light.woff') format('woff'); font-weight: 300; font-style: normal;}
@font-face{font-family: 'Lato'; font-display: auto; src: url('../fontes/Lato-Regular.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face{font-family: 'Lato'; font-display: auto; src: url('../fontes/Lato-Bold.woff') format('woff'); font-weight: bold; font-style: normal;}
@font-face{font-family: 'Lato'; font-display: auto; src: url('../fontes/Lato-Black.woff') format('woff'); font-weight: 900; font-style: normal;}
@keyframes fade {
    0%{opacity: 0}
    100%{opacity: 1}
}
@keyframes fadeOut {
    0%{opacity: 1}
    100%{opacity: 0}
}
@-webkit-keyframes ngdialog-fadeout {
    0%{opacity: 1}
    100%{opacity: 0}
}
@keyframes ngdialog-fadeout {
    0%{opacity: 1}
    100%{opacity: 0}
}
@-webkit-keyframes ngdialog-fadein {
    0%{opacity: 0}
    100%{opacity: 1}
}
@keyframes ngdialog-fadein {
    0%{opacity: 0}
    100%{opacity: 1}
}
@-webkit-keyframes ngdialog-flyin {
    0%{opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px)}
    100%{opacity: 1; -webkit-transform: translateY(0); transform: translateY(0)}
}
@keyframes ngdialog-flyin {
    0%{opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px)}
    100%{opacity: 1; -webkit-transform: translateY(0); transform: translateY(0)}
}
@-webkit-keyframes ngdialog-flyout {
    0%{opacity: 1; -webkit-transform: translateY(0); transform: translateY(0)}
    100%{opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px)}
}
@keyframes ngdialog-flyout {
    0%{opacity: 1; -webkit-transform: translateY(0); transform: translateY(0)}
    100%{opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px)}
}
svg{display: inline-block}
.menuAnimated{z-index: 9999; -webkit-transform: translateX(100%); transform: translateX(100%)}

.anime{-webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; transition:0.3s ease-in-out;}

/* Botões */
.bt-link-default{font-size: 1.2rem; font-weight: normal; color: $colorQuinary; text-transform: uppercase; text-decoration: underline}
.bt-big, .bt-medium, .bt-small{text-align: center; box-sizing: border-box; display: inline-block; border: 1px solid; cursor: pointer; vertical-align: middle; transition: 0.2s; text-decoration: none !important; border-radius: 4px;}
.bt-small{font-size: 1.3rem; line-height: 1.6rem; padding: 1.05rem 1rem; letter-spacing: 0.1rem}
.bt-medium{font-size: 1.45rem; line-height: 2rem; padding: 1.1rem 2rem; font-weight: normal}
.bt-big{font-size: 2rem; padding: 1rem 2rem; line-height: 3.8rem;}
.bt-primary{color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; text-transform: uppercase; background-color: $colorPrimary; border-color: $colorPrimary; transition: .3s;}
.bt-primary:hover{transition: .3s;}
.bt-primary.bt-color-invert{color: $colorPrimary; background-color: #FFFFFF}
.bt-primary.bt-color-invert:hover{background-color: $colorPrimary; border-color: $colorPrimary; color: #FFFFFF}
.bt-secondary{color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; background-color: $colorSecondary; border-color: $colorSecondary}
.bt-secondary:hover{}
.bt-secondary.bt-color-invert{color: $colorSecondary; background-color: #FFFFFF}
.bt-secondary.bt-color-invert:hover{background-color: $colorSecondary; border-color: $colorSecondary; color: #FFFFFF}
.bt-tertiary{color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; background-color: $colorTertiary; border-color: $colorTertiary}
.bt-tertiary:hover{}
.bt-tertiary.bt-color-invert{color: $colorTertiary; background-color: #FFFFFF}
.bt-tertiary.bt-color-invert:hover{background-color: $colorTertiary; border-color: $colorTertiary; color: #FFFFFF}
.bt-quaternary{color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; background-color: $colorQuaternary; border-color: $colorQuaternary; transition: .6s;}
.bt-quaternary:hover{transition: .6s;}
.bt-quaternary.bt-color-invert{color: $colorQuaternary; background-color: #FFFFFF; transition: .6s;}
.bt-quaternary.bt-color-invert:hover{background-color: $colorQuaternary; border-color: $colorQuaternary; color: #FFFFFF}
.bt-quinary{color: #FFFFFF; font-weight: normal; font-family: $fontPrimary; background-color: $colorQuinary; border-color: $colorQuinary}
.bt-quinary:hover{}
.bt-quinary.bt-color-invert{color: $colorQuinary; background-color: #FFFFFF}
.bt-quinary.bt-color-invert:hover{background-color: $colorQuinary; border-color: $colorQuinary; color: #FFFFFF}
.bt-goCheckout{color: #FFFFFF; font-size: 16px; font-weight: bold; font-family: $fontPrimary; text-transform: uppercase; background-color: $colorGoCheckout; border-color: $colorGoCheckout; transition: .3s;}
.bt-goCheckout:hover{transition: .3s; background: $colorSecondary; border-color: $colorSecondary;}
.bt-goCheckout.bt-color-invert{color: $colorGoCheckout; background-color: #FFFFFF}
.bt-goCheckout.bt-color-invert:hover{background-color: $colorGoCheckout; border-color: $colorGoCheckout; color: #FFFFFF}
.btOk{font-size: 14px; line-height: 39px; width: 100%; padding: 0}
.bt-small, .bt-medium, .bt-big{text-transform: uppercase}
.bt-disabled{opacity: 1;}
.bt-banner{text-align: center; box-sizing: border-box; display: inline-block; cursor: pointer; vertical-align: middle; transition: 0.2s; width: 16rem; font-size: 1.4rem; line-height: 3.5rem; letter-spacing: 0.1rem; color: #fff; padding: 0 1rem; text-transform: uppercase; border: 1px solid #fff; background: none; outline: 0}
.bt-banner:hover{color: #000; background-color: #fff}
.banner-text-color .bt-banner{color: #000; border: 1px solid #000}
.banner-text-color .bt-banner:hover{color: #fff; background-color: #000}
.bt-toTop{display: inline-block; vertical-align: top; padding: 0; background-color: #00000087; -webkit-box-sizing: border-box; box-sizing: border-box; position: fixed; border-radius: 50%; bottom: 60px; right: 20px; z-index: 99999; transition: .4s ease-in-out; width: 0; height: 0;}
.bt-toTop.active{width: 55px; height: 55px; transition: .4s ease-in-out;}
.bt-toTop .icon-toTop{width: 0; height: 0; fill: #FFFFFF; position: absolute; top: 50%; left: 50%; margin-left: -11px; margin-top: -14px; user-select: none; transition: .4s ease-in-out;}
.bt-toTop.active .icon-toTop{width: 22px; height: 22px; transition: .4s ease-in-out;}
.bt-toTop span{display: block; font-size: 2rem; text-transform: uppercase}

/* Banners */
#section-banners{height: 100%; position: relative; transition: all 1000ms ease 0s;}
.section-banner img{margin: 0 auto;}
.banner{font-size: 0}
.banner span{display: none}
.banner a img{display: block; width: 100%; height: auto}
.banner-inline{display: inline-block; vertical-align: middle;}
.banner-inline>*{font-size: 0; max-width: 32%; min-width: 200px; height: auto; margin: .5rem 0; display: inline-block; vertical-align: middle}
.banner-text-center .banner-text-info{width: 100%; padding: 0; text-align: center}
.banner-text-center .banner-text-bt{margin: 0 auto}
.banner-text-right .banner-text-info{left: auto; right: 0}
.banner-text-color .banner-text-info{color: $colorSecondary}
.banner-text-title{font-size: calc(1.6rem + 1.2vw); font-weight: bold; text-transform: uppercase}
.banner-text-alt{font-size: calc(1.3rem + 0.4vw); line-height: 2rem; margin-top: calc(.5rem + .5vw); font-weight: normal}
.banner-text-bt{margin-top: calc(.5rem + 2vw) !important}
.banner-full{max-width: 100%; overflow: hidden}
.banner-full>*{max-width: 100%}
.banner-full img{height: auto; margin: 0 auto}

/* Vitrines */
#collection-box{display: block; font-size: 0;}
.collection > ul{list-style: none; font-size: 0;}
.collection-li{display: inline-block; vertical-align: top;}
.col2 .collection-li{width: 50%;}
.col3 .collection-li{width: 33%;}
.col4 .collection-li{width: 25%;}
.col5 .collection-li{width: 20%;}
.collection-top{overflow: hidden; text-align: right}
.collection .galeria>ul{margin: 2rem auto}
.collection-unavailable{opacity: .45}
.collection-rating img{display: inline-block; width: auto; margin: 0 .2rem}
.collection-product{display: block; box-sizing: border-box; text-align: left; box-shadow: 0px 0px 10px 5px transparent; transition: .2s; text-align: center; cursor: pointer; background: #FFFFFF; border-radius: 4px; position: relative;}
.collection-product:after{content: ""; display: block; width: 100%; clear: both}
.collection-product-image{position: relative; text-align: center;}
.collection-product-image a{display: block;}
.collection-product-image > a img{width: 100%; height: auto; margin: 0 auto; box-sizing: border-box;}
.collection-product-name{height: 45px; overflow: hidden; margin: 15px; text-align: center; display: block;}
.collection-product-name a{color: $colorPrimary; font-size: 17px; line-height: 22px; font-weight: bold; display: block;}
.collection-product-name a sup{line-height: 0;}
.collection-product-shortDescription{margin: 15px 0 20px; font-size: 14px; line-height: 18px; font-weight: 400; height: 55px; overflow: hidden; color: #777; font-family: "Lato", Arial, sans-serif !important}
.collection-product-shortDescription span{font-size: 13px !important; line-height: 18px !important; font-family: "Lato", Arial, sans-serif !important}
.collection-product-shortDescription strong{font-weight: 100; font-family: "Lato", Arial, sans-serif !important}
.collection-product-price-content{display: inline-block; vertical-align: middle; width: 100%; padding: 0 15px; box-sizing: border-box;}
.collection-product-price{text-align: center; font-size: 0;}
.collection-product-price del{display: inline-block; vertical-align: middle; font-size: 14px; font-weight: normal; color: $colorQuaternary; margin-right: 10px;}
.collection-product-price span{display: inline-block; vertical-align: middle; color: $colorSecondary; font-size: 23px; line-height: 26px; font-weight: 900;}
.collection-product-price span small{font-size: 13px; font-weight: normal; color: #AAA;}
.collection-product-splitPrice{display: block; font-size: 14px; line-height: 14px; font-weight: normal; color: #777; height: 20px; margin: 8px 0 20px; text-align: center;}
.collection-product-container-seals{width: 100%; padding: 0 1rem; box-sizing: border-box; overflow: hidden; margin-left: -2rem; z-index: 9;}
.collection-product-container-seals-top{top: 1rem; height: 26px; position: absolute;}
.collection-product-container-seals-bottom{bottom: 0; height: 23px; position: absolute;}
.collection-product-discountPercent, .product-discountPercent{text-align: right; color: $colorPrimary; -webkit-box-sizing: border-box; box-sizing: border-box; background: #EEE; width: 100%; padding: 5px; position: absolute;}
.collection-product-discountPercent span, .product-discountPercent span{display: block; font-size: 10px; font-weight: normal;}
.collection-product-discountPercent span{display: none;}
.collection-product-discountPercent small, .product-discountPercent small{font-size: 11px; font-weight: normal;}
.colleciton-product-discountPercentValue, .product-discountPercentValue{text-align: center}
.product-discountPercent{position: relative; padding: 0 .5rem; display: none}
.collection-product-discountPercent, .product-discountPercent{float: left}
.collection-product-release, .collection-product-preSale{height: 4rem; padding: 0 1rem 0; background-color: #FFFFFF; border: 1px solid $colorQuaternary; color: $colorQuaternary; font-size: 1.6rem; font-weight: normal; box-sizing: border-box; border-radius: 10px; width: 85px; max-width: 100%;}
.collection-product-release{display: none;}
.collection-product-seal{width: auto !important; max-width: 49%; min-height: 4rem; max-height: 4rem; overflow: hidden}
.collection-product-release, .collection-product-preSale, .collection-product-seal{float: right}
.collection-product-seal+.collection-product-release, .collection-product-seal+.collection-product-preSale{display: none}
.collection-product-present{width: auto !important; max-width: 49%; min-height: 4rem; max-height: 4rem; overflow: hidden}
.collection-product-promoExpress{width: auto !important; max-width: 49%; max-height: 4rem; overflow: hidden}
.collection-product-present, .collection-product-promoExpress{float: left}
.collection-product-present+.collection-product-promoExpress{display: none}
.collection-product-shippingPromo{float: right; width: auto !important; max-width: 49%; overflow: hidden}
.collection-rating{display: inline-block; vertical-align: middle; margin: 1rem auto; height: 16px; overflow: hidden}
.collection-product-moreDetails, .collection-product-unavailable{display: inline-block; vertical-align: middle; width: 100%; box-sizing: border-box; margin-top: 1rem; overflow: hidden; text-align: center; padding: 0 1.5rem; visibility: hidden; opacity: 0;}
.logado .collection-product-moreDetails{display: none;}
.deslogado .collection-product-buy{display: none;}
.collection-product-moreDetails a{width: 100%;}
.collection-product-unavailable{background-color: #ccc; border-color: #ccc; color: $colorQuaternary; margin: 0 auto; line-height: 2rem; padding: 0.65rem 0 !important}
.collection-product-buy .spin{width: 58px; margin-right: 10px; position: relative; /*display: inline-block;*/ display: none !important; vertical-align: middle; border: 1px solid #f4f4f4; box-sizing: border-box;}
.collection-product-buy .spin select#collection-product-quantity{position: absolute; left: 0; top: 0; z-index: 2; padding: 0; width: 100%; height: 100%; border: 0; outline: 0; text-indent: 9px; background: #fff; color: #666666; border: 1px solid #ddd; border-radius: 0;}
.collection-product-buy .spin:before{content: ''; display: block; width: 1px; height: 43px; background: #ddd; position: absolute; z-index: 20; top: 0; right: 22px}
.collection-product-buy .spin input{border: 0; padding: 12px; box-sizing: border-box; font-size: 15px; color: #7b7b7b; position: relative; text-align: center; background: #f4f4f4;}
.collection-product-buyInput.focus input.focus{z-index: 2;}
.collection-product-buyInput.focus:after{display: none;}
.collection-product-buy .collection-product-buy-bt{width: 100%; padding: 1.5rem 0; font-weight: normal; border-radius: 30px; opacity: 0;}
.collection-li:hover .collection-product-buy .collection-product-buy-bt{opacity: 1;}

/* Formulário */
.form-box{text-align: left; margin: 1rem auto; border: 1px solid #d7d7d7; box-sizing: border-box}
.form-box-heading{padding: 1.5rem; background: #f7f7f7; border-bottom: 0.1rem solid #d7d7d7; font-weight: normal; line-height: 2rem; font-size: 1.6rem; color: $colorQuinary; vertical-align: top; box-sizing: border-box;}
.form-box-bt{padding: 1rem 2rem; background-color: #f5f5f5; border-top: 0.1rem solid #d7d7d7; overflow: hidden; box-sizing: border-box}
.form-box-bt .bt-medium{font-weight: bold;}
.form-item{overflow: hidden; padding: 0.5rem 1rem; margin: 0; vertical-align: top; color: #666; display: inline-block; vertical-align: top; box-sizing: border-box}
.form-item label{font-size: 1.3rem; line-height: 1.8rem}
.form-item label.checkbox{margin: .5rem 0; display: inline-block}
.form select{font-size: 1.2rem; padding: 1.1rem; background-color: #fff}
.form input::-webkit-input-placeholder{color: #959595}
.form input:-moz-placeholder{color: $colorQuaternary}
.form input::-moz-placeholder{color: $colorQuaternary}
.form input:-moz-placeholder{color: $colorQuaternary}
.form input:-ms-input-placeholder{color: $colorQuaternary}
.form textarea::-webkit-input-placeholder{color: $colorQuaternary}
.form textarea:-moz-placeholder{color: $colorQuaternary}
.form textarea::-moz-placeholder{color: $colorQuaternary}
.form textarea:-moz-placeholder{color: $colorQuaternary}
.form textarea:-ms-input-placeholder{color: $colorQuaternary}
.form textarea{height: 15.5rem}
.form-title{color: $colorQuinary; font-size: 14px; line-height: 20px; padding: .5rem 0; vertical-align: middle; display: block; text-align: left}
.form-item.register-phone label{display: inline-block; vertical-align: middle;}
.form .validate{position: relative}
.form .validate-field-error, .form .input-validation-error{border-color: red !important}
.form .validate-message, .form .field-validation-error{background: #ffffa3; border: 0.1rem solid #f1d031; color: #555555; display: none; font-size: 1rem; left: 50%; margin-left: -6.5rem; padding: 0.5rem; position: absolute; top: 0; border-radius: 0.2rem; text-align: center; display: none}
.form .validate-message:after, .form .field-validation-error:after{content: url("../imagens/validate-arrow.png"); height: 0.8rem; left: 50%; margin-left: -0.5rem; position: absolute; bottom: -0.3rem; width: 1rem}

/* Resumo Carrinho */
.miniCart-table{border: 1px solid #d7d7d7; padding: 1rem}
.miniCart-items{overflow-x: hidden; overflow-y: auto; max-height: 350px; border-bottom: 1px solid #cccccc; margin-bottom: 10px;}
.miniCart-table .table-item td{padding: .5rem}
.miniCart-shipping, .miniCart-coupom, .miniCart-discount{border-bottom: 1px solid #d7d7d7;}
.miniCart-items .table tr.miniCart-total{border-bottom: 0;}
.miniCart-product-quantity{margin-top: .5rem}
.miniCart-subtotal th, .miniCart-shipping th, .miniCart-total th, .miniCart-coupom th, .miniCart-bonus th, .miniCart-discount th, .miniCart-interest th{text-align: right; padding: 1rem; width: 100%; color: $colorQuaternary; font-weight: normal;}
.miniCart-subtotal td, .miniCart-shipping td, .miniCart-total td, .miniCart-coupom td, .miniCart-bonus td, .miniCart-discount td, .miniCart-interest td{text-align: center; color: $colorQuaternary; white-space: nowrap; padding: 1rem;}
.miniCart-coupom td, .miniCart-bonus td, .miniCart-discount td{color: $colorQuaternary; border-bottom: 1px solid #d7d7d7}
.miniCart-total th{color: $colorQuinary;}
.miniCart-total td{font-weight: 900; border: none; color: $colorPrimary; font-size: 1.6rem;}

/* Heading */
.heading-primary{text-align: center; padding: .5rem 0}
.heading-primary h1, .heading-primary h2, .heading-primary h3{color: $colorSecondary; font-size: calc(1.4rem + 0.6vw); font-weight: bold; font-family: $fontPrimary; text-transform: uppercase}
.heading-primary h2 a{color: inherit}
.heading-primary h1:after, .heading-primary h2:after, .heading-primary h3:after{content: ""; height: 2px; width: 85px; background: $colorPrimary; display: block; margin: 1.6rem auto 0}
.heading-secondary{border-bottom: 2px solid #d7d7d7; padding: 0 0 1rem 0; margin: 0 0 1rem 0; text-align: left; width: 100%}
.heading-secondary h1, .heading-secondary h2, .heading-secondary h3{color: $colorPrimary; font-size: 1.6rem; line-height: 1.8rem; font-family: $fontPrimary; text-transform: uppercase}
.heading-secondary h2 a{color: inherit}
.heading-tertiary{text-align: center; padding: .5rem 0}
/*.heading-tertiary h1, .heading-tertiary h2, .heading-tertiary h3{font-size: 1.6rem; line-height: 1.6rem; color: $colorQuinary; font-weight: normal}*/
.heading-tertiary h2 a{color: inherit}
.heading-quartiary{font-family: $fontPrimary; font-size: calc(1.1rem + 0.3vw); text-align: center; position: relative; color: #fff; background-color: $colorSecondary; padding: 2rem}
.heading-quartiary h1, .heading-quartiary h2, .heading-quartiary h3{color: inherit; font-weight: bold; font-family: $fontPrimary; display: block; padding: 0 3rem}
.heading-quartiary small{display: block; font-size: .6em; font-weight: normal; margin-top: .2rem}
.heading-quartiary h2 a{color: inherit}
.heading-quinary{display: inline-block; width: 100%; text-align: left}
.heading-quinary:after{content: ""; display: block; width: 45px; height: 6px; border-radius: 3px; background: $colorPrimary; margin: 1rem 0 2rem}
.heading-quinary h1, .heading-quinary h2, .heading-quinary h3{color: $colorQuinary; font-family: $fontPrimary;}
.heading-quinary h2 a{color: inherit}

/* Tabela */
.table{width: 100%; margin-top: 1rem; border-collapse: collapse}
.table-title{background: #ebebeb; font-weight: bold; color: #676767; padding: 1.5rem 2rem; text-align: center; text-transform: uppercase; font-size: 1.2rem}
.table-item td{padding: 1rem 0.5rem; border-bottom: 0.1rem solid #d7d7d7; font-size: 1.3rem; line-height: 1.6rem}
.alert{text-align: left; padding: 1.5rem; margin: 1.5rem auto; text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 0.1rem solid #fbeed5; color: #c09853; font-size: 1.4rem; line-height: 2rem; box-sizing: border-box}
.alert a{color: inherit; text-decoration: underline}
.alert>strong{font-size: 1.6rem; line-height: 2.2rem; margin: 0 0 1.5rem 0}
.alert ul{margin: 0 0 0 1.5rem}
.alert ul li{margin: 0}
.alert.success{color: #468847; background-color: #dff0d8; border-color: #d6e9c6; clear: both}
.alert.success{color: #468847; background-color: #dff0d8; border-color: #d6e9c6; clear: both}
.error #msg-erro-carrinho ul li:first-of-type .alert, .error #msg-erro-carrinho ul>.alert{margin-top: 0}
.recalculatingValue{background: url("../imagens/loader-small.gif?v01") no-repeat center center; display: inline-block; height: 16px; width: 16px}

/* Migalha de Pão */
.breadCrumb{width: 100%; overflow: hidden; padding: 25px 0 0 0; text-align: left; font-size: 0; position: relative;}
.breadCrumb.breadCrumb-loaded{}
.breadCrumb-list.breadCrumb-list-loaded{}
.breadCrumb .breadCrumb-itens{display: inline-block; vertical-align: middle;}
.breadCrumb .breadCrumb-home, .breadCrumb .breadCrumb-itens{display: inline-block; vertical-align: middle; color: #666; margin-right: 8px; font-size: 12px; line-height: 20px; font-weight: 500;}
.breadCrumb .breadCrumb-itens:last-of-type a{color: #666;}
.breadCrumb-itens .breadCrumb-itens-separator{display: inline-block; vertical-align: middle; margin-right: 8px;}
.breadCrumb-itens .breadCrumb-itens-separator .icon-toTop{width: 8px; height: 8px; fill: #aaa; transform: rotate(90deg);}

/* Default */
.link-default{display: inline-block; font-size: 1.3rem; color: $colorQuaternary; text-decoration: underline}
.link-default.register-alterPassword-bt{font-size: 1.4rem; margin: .5rem 0}
.link-default:hover{text-decoration: underline}

/* Erro */
.sorry{padding: 0; text-align: center}
.sorry-content{display: table; margin: 0 auto; overflow: hidden; text-align: center; white-space: nowrap}
.sorry-info{display: inline-block; padding: 2rem 0 2rem 0; vertical-align: top; white-space: normal}
.sorry-info h2{font-size: 24px; margin-bottom: 30px}
.sorry-info h2 strong{font-size: 3rem}
.sorry-info h3{font-size: 1.8rem; margin-bottom: 1rem}
.sorry-info ul{margin-bottom: 2rem}
.sorry-info li{list-style: none; font-size: 1.3rem; padding: 4px 0}
.sorry-info p{display: block; font-size: 1.4rem; line-height: 2rem; margin-bottom: 10px}
.sorry-info .collection-noResults-mainDepartment{font-size: 1.3rem; font-weight: bold; text-decoration: underline}
.sorry-search{border: none; margin-bottom: 5rem; text-align: center}
.sorry-search input{font-size: 1rem; height: 40px; text-indent: 15px; width: 300px}
.sorry-search a{vertical-align: top}
.tooltip-alertPassword{background: #fb6969; font-size: 15px; line-height: 20px; color: #FFFFFF; padding: 10px; border-radius: 5px; margin: 10px 0 0; font-weight: bold; text-align: center;}
.tooltip-alertPassword span{display: block; font-weight: normal; font-size: 13px; line-height: 18px; margin-top: 5px;}
@media only screen and (min-width:991px) {
    .heading-quinary h1, .heading-quinary h2, .heading-quinary h3{font-size: 24px; line-height: 24px}
    main.box-content{margin-top: 25px; margin-bottom: 4rem}
    .banner-full>a, .banner-full>a img{margin: 2rem 0}
    .collection-product-buy .collection-product-buy-bt{max-width: 170px; font-size: 17px;}
    .collection-li:hover .collection-product{box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);}
    .collection-li:hover .collection-product-image{border-color: transparent;}
    /*.logado .collection-li:hover .collection-product-buy{visibility: visible; opacity: 1; animation: .2s fade;}*/
    .deslogado .collection-li:hover .collection-product-moreDetails{visibility: visible; opacity: 1; animation: .2s fade;}
    .deslogado .collection-product-price-content{display: none;}
    .logado .collection-product-price-content{display: block;}
    .collection-product{margin: 1rem; padding: 1.5rem 1rem 3rem 1rem;}
}
@media only screen and (min-width:1281px) {
    .breadCrumb .box-content{}
    .breadCrumb-list .box-content{}
}
@media only screen and (min-width:991px) and (max-width:1280px) {
    .breadCrumb .box-content{}
    .breadCrumb-list .box-content{}
}
@media only screen and (max-width:1280px) {
    .box-content{padding-left: 15px; padding-right: 15px}
}
@media only screen and (max-width:1125px) {
    .collection-li{min-width: 245px}
}
@media only screen and (max-width:990px) {
    .heading-primary h1, .heading-primary h2, .heading-primary h3{font-size: calc(1.6rem + 1.2vw)}
    .heading-primary h1:after, .heading-primary h2:after, .heading-primary h3:after{width: 80px}
    .heading-quinary h1, .heading-quinary h2, .heading-quinary h3{font-size: 21px; line-height: 24px;}
    .heading-primary h1:after, .heading-primary h2:after, .heading-primary h3:after{width: 75px; margin: 1.5rem auto 0}
    main.box-content{margin-top: 3rem; margin-bottom: 3rem}
    .banner-full>a, .banner-full>a img{margin: 2rem 0}
    .collection-product{margin: 0; padding: 0 1rem;}
    .collection .galeria>ul{margin: 1rem auto 2rem}
    .collection-product{border-color: transparent !important}
    .collection-product-buy{display: none;}
    .collection-product-buy .collection-product-buy-bt{max-width: 160px; font-size: 1.6rem}
    .collection-li.collection-unavailable .collection-product-buy .collection-product-buy-bt{max-width: none}
    .js--tab-title{width: 100%; padding: .5rem 0; border-bottom: 1px solid #d7d7d7; position: relative}
    .js--tab-title-icon{float: right; width: 12px; height: 12px; fill: #000}
    .js--tab-title-icon svg.icon-add, .js--tab-title-icon svg.icon-down{width: 12px; height: 12px; margin-top: -6px; animation: .5s fade; position: absolute; top: 50%; right: 0; fill: #fff;}
    .js--tab-title-icon .icon-remove{display: none}
    .js--tab-title.active .icon-remove{display: block}
    .js--tab-title-icon .icon-add{display: block}
    .js--tab-title.active .icon-add{display: none}
    .js--tab-content{display: none; width: 100%; padding: .5rem 0}
    .js--tab-content.active{display: block !important}
    .js--aside-slider{display: block !important; position: fixed; top: 0; right: -100%; z-index: -1; width: 100%; height: 100%; overflow: hidden; margin: 0 !important; -webkit-transition: .6s; transition: .6s}
    .js--aside-slider.active{z-index: 9999; -webkit-transform: translateX(-100%); transform: translateX(-100%)}
    .js--aside-slider .js--aside-slider-content{/*box-shadow: -3px -25px 25px #1c1c1c; */height: 100%; overflow-x: hidden; overflow-y: scroll; position: absolute; text-align: left; width: 86%; right: 0; z-index: 9999; padding: 2rem; box-sizing: border-box; background-color: #fff}
    .js--aside-slider-close{background: rgba(0, 0, 0, 0.85); height: 100%; position: absolute; padding: 0; left: 14%; width: 14%; text-align: center; -webkit-transition:0.3s ease-in-out; -moz-transition:0.3s ease-in-out; -o-transition:0.3s ease-in-out; transition:0.3s ease-in-out; transition-delay: 0.5s;}
    .js--aside-slider-close .icon-close{fill: #fff; width: 20px; height: 20px; margin-top: 40px;}
    #collection-aside.active .js--aside-slider-close{left: 0;}
    .breadCrumb{display: flex; align-items: center;}
    .breadCrumb .box-content{width: 100%;}
    .breadCrumb .breadCrumb-dpto-name{font-size: 24px; line-height: 24px;}
    .breadCrumb .breadCrumb-home a{font-size: 11px; line-height: 14px;}
    .breadCrumb .breadCrumb-itens a{font-size: 12px; line-height: 14px;}
}
@media only screen and (max-width:639px) {
    .banner-inline>*{min-width: 100%}
    .banner-text-info br{display: none}
    .bt-banner{color: $colorSecondary !important; border-color: $colorSecondary !important; background: transparent !important}
}
@media only screen and (min-width:481px) {
    .collection-product-discountPercent, .product-discountPercent{font-size: 14px; font-weight: bold;}
}
@media only screen and (max-width:480px) {
    .collection-product-discountPercent, .product-discountPercent{font-size: 13px; font-weight: 500;}
}
