#header{width: 100%; z-index: 100;}
.header-content{display: block; margin: 0 auto; text-align: center; position: relative; font-size: 0;}
.header-content>*{display: inline-block; vertical-align: middle;}
.header-top{background: $colorTertiary; display: inline-block; vertical-align: top; width: 100%; height: 35px;}
.header-top .box-content{font-size: 0; text-align: left;}
.header-top .box-content .colLeft{vertical-align: top; width: calc(100% - 356px);}
.header-top .box-content .colLeft span{font-size: 12.5px; font-weight: bold; color: $colorQuaternary; line-height: 13px; margin-right: 2%; padding: 11px 10px; display: inline-block; cursor: pointer;}
.header-top .box-content .colLeft span:hover{background: $colorQuaternary; color: $colorTertiary;}

.header-top .box-content .colRight{text-align: right; vertical-align: top; width: 336px;}
.header-top .box-content .colRight a{font-size: 13px; font-weight: bold; color: #fff; line-height: 13px; display: inline-block; vertical-align: top; position: relative;}
.header-top .box-content .colRight a:before{content: ''; display: block; width: 24px; height: 35px; background: url(../imagens/bt-colRight.svg) no-repeat; position: absolute; left: -24px; top: 0;}
.header-top .box-content .colRight a:nth-of-type(1){background: #355ba6; padding: 9px 34px 9px 10px;}
.header-top .box-content .colRight a svg{width: 17px; height: 17px; margin-right: 5px; fill: #fff;}
.header-top .box-content .colRight a:nth-of-type(2){background: $colorPrimary; padding: 14px 10px;}
.header-top .box-content .colRight a:nth-of-type(2):before{content: ''; display: block; width: 24px; height: 41px; background: url(../imagens/bt-colRight-2.svg) no-repeat; position: absolute; left: -24px; top: 0;}
.header-top .box-content .colRight a:nth-of-type(2):after{content: ''; display: block; width: 24px; height: 41px; background: url(../imagens/bt-colRight-2.svg) no-repeat; position: absolute; right: -24px; top: 0; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);
    filter: FlipH; -ms-filter: "FlipH";}

.header-top .header-callphone{float: left; font-size: 0; margin: 12px 0 0 0;}
.header-top .header-callphone > a{display: inline-block; vertical-align: middle;}
.header-top .header-phone{font-size: 0; margin-right: 25px;}
.header-top .header-phone svg.icon-phone{width: 13px; height: 13px; fill: #545454; display: inline-block; vertical-align: middle; margin-right: 8px;}
.header-top .header-phone p{display: inline-block; vertical-align: middle; fill: #545454; font-size: 13px; line-height: 13px;}
.header-top .header-whatsapp{font-size: 0;}
.header-top .header-whatsapp svg.icon-whatsapp{width: 14px; height: 14px; fill: #545454; display: inline-block; vertical-align: middle; margin-right: 8px;}
.header-top .header-whatsapp p{display: inline-block; vertical-align: middle; fill: #545454; font-size: 14px; line-height: 14px;}
.header-top .header-rastreioRapido{float: right; font-size: 0;}
.header-top .bt-rastreioRapido{background: $colorPrimary; padding: 8px 20px; display: inline-block; vertical-align: middle; box-sizing: border-box;}
.header-top .bt-rastreioRapido svg.icon-shippingExpress{width: 22px; height: 22px; fill: #FFFFFF; display: inline-block; vertical-align: middle; margin-right: 10px; transform: rotateY(180deg);}
.header-top .bt-rastreioRapido p{display: inline-block; vertical-align: middle; color: #FFFFFF; font-size: 15px; line-height: 16px;}
.header-middle{clear: both; display: inline-block; vertical-align: top; width: 100%; background: #f4f4f4;}
.header-middle .header-cart{cursor: pointer;}
.header-middle .header-cart-login{}

.header-middle .header-cart-login {float: right;}
.header-middle .header-logo{margin: 0 auto;}
.header-logo img{max-width: 204px;}
.header-middle .header-logo a, .header-middle .header-logo a img{display: inline-block; vertical-align: middle; width: 100%; height: 100%}
.header-middle .header-search{box-sizing: border-box; text-align: right;}
.header-middle .header-search.focus{position: relative; z-index: 999999;}
.header-middle .header-search fieldset{overflow: hidden; text-align: right; font-size: 0; width: 100%; box-sizing: border-box; border: 0; float: right; background: #f3f1f2;}
.header-middle .header-search fieldset label{border: none}
.header-middle .header-search fieldset label input{border: 1.5px solid $colorSenary; padding: 0 2rem; box-sizing: border-box; color: $colorQuinary; background: #fff; border-radius: 8px 0 0 8px;}
.header-middle .header-search fieldset label input::-webkit-input-placeholder{color: #999;}
.header-middle .header-search fieldset label input:-moz-placeholder{color: #999;}
.header-middle .header-search fieldset label input:-ms-input-placeholder{color: #999;}
.header-middle .header-search-buttom{display: inline-block; vertical-align: top; text-align: center; transition: .3s ease-out; position: relative; background: $colorSenary; border-radius: 8px;}
.header-middle .icon-search{width: 23px; height: 23px; fill: #FFFFFF; position: absolute; top: 50%; left: 50%; margin-top: -11.5px; margin-left: -11.5px;}

.header-middle .header-search .contatosTopo{margin-bottom: 20px; font-size: 0;}
.header-middle .header-search .contatosTopo span{font-size: 14px; font-weight: bold; color: #666; display: inline-block; line-height: 20px;}
.header-middle .header-search .contatosTopo span:nth-of-type(1){width: 28%; text-align: left;}
.header-middle .header-search .contatosTopo span:nth-of-type(2){width: 27%; text-align: center;}
.header-middle .header-search .contatosTopo span:nth-of-type(3){width: 45%; text-align: right;}
.header-middle .header-search .contatosTopo span svg{margin-right: 8px; width: 20px; height: 20px; fill: $colorTertiary;}

@media screen and (max-width:1200px) {
	.header-middle .header-search .contatosTopo span svg{display: none;}
}

@media screen and (max-width:1100px) {
	.header-middle .header-search .contatosTopo span{font-size: 12.5px; text-align: left !important;}
}


/* Login */
.header-login{position: relative; display: inline-block; vertical-align: middle; transition: .3s ease-out; text-align: center;}
.header-login .header-login-a{width: 43px; height: 43px; line-height: 43px; display: inline-block; vertical-align: middle;}
.header-login{position: relative;}
.header-login .openLogin{display: block; cursor: pointer; font-size: 0;}
.header-login .icon-user{fill: $colorPrimary; display: inline-block; vertical-align: middle}
.header-login .openLogin p{color: $colorPrimary; font-size: 15px; text-align: left; line-height: 17px; margin: 0 10px; display: inline-block; vertical-align: middle;}
.header-login .icon-toDown{width: 12px; height: 7px; display: inline-block; vertical-align: middle; fill: $colorQuinary;}
#openLoginModalDesloged, #openLoginModalLoged{display: none;}
.userlogado .box-login a{display: block; text-align: center; margin-top: 10px; font-size: 14px; line-height: 43px; text-transform: inherit; background: rgba(255, 255, 255, 0.25); color: #fff; border-radius: 8px;}
.box-login{position: absolute; left: 50%; margin-left: -150px; width: 300px; border: 1px solid $colorPrimary; background: #fff; -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25); z-index: 9999; visibility: hidden; opacity: 0; transform: translateY(-2rem); z-index: -1;}
.box-login:before{content: ''; display: block; width: 14px; height: 14px; background: #fff; border: 1px solid $colorPrimary; border-right: none; border-bottom: none; position: absolute; top: -8px; left: 50%; margin-left: -7px; transform: rotate(45deg);}
.header-login.boxLoginOpen .box-login{visibility: visible; opacity: 1; transform: translateY(2rem); z-index: 9999;}
.box-login .msgLogin{padding: 20px; font-size: 12px; line-height: 16px; text-align: left;}
.box-login .msgLogin strong{font-size: 32px; line-height: 32px; color: $colorPrimary; margin-bottom: 8px; display: block;}
.login-form-bts{padding: 20px; background-color: $colorSecondary;}
.boxloginiten{margin-bottom: 5px;}
.buttons-login{margin-top: 10px; line-height: 0;}
.buttons-login:after{content: ''; display: block; clear: both;}
.buttons-login a{float: right;}
.buttons-login .btLembrarSenha{color: #fff; float: left; font-size: 13px; line-height: 30px; background: none;}
.buttons-login .btLembrarSenha:hover{text-decoration: underline;}
.buttons-login .bt-login{background-color: $colorSecondary; border-color: $colorSecondary; padding: 10px 20px; font-size: 14px; line-height: 15px; text-transform: uppercase; text-align: center; display: inline-block; border-radius: 8px; color: #ffffff; box-sizing: border-box;}
.buttons-login .bt-newAccount{width: 100%; float: none; margin-top: 30px; background: rgba(255, 255, 255, 0.2); border: 0; font-weight: normal; padding: 10px 20px; font-size: 14px; line-height: 16px; text-transform: uppercase; text-align: center; display: inline-block; border-radius: 8px; color: #FFFFFF; box-sizing: border-box;}
.box-login .form input{font-size: 13px !important; margin: 3px 0; padding: 0 15px !important; height: 40px; border: none !important; border-radius: 5px;}
.box-login .msgLogin .closeLogin{position: absolute; z-index: 20; top: 0; right: 0; width: 30px; height: 30px; text-align: center; line-height: 30px; font-size: 20px; font-weight: bold; cursor: pointer; color: $colorQuinary; user-select: none;}

/* Mini Carrinho */
.header-cart{position: relative; transition: .3s ease-out; display: inline-block; vertical-align: middle; text-align: center; font-size: 0;}
.header-cart>a{display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; font-size: 0; z-index: 1}
.header-cart-icon{display: inline-block; vertical-align: middle; text-align: center; position: relative; height: 32px; width: 32px; line-height: 32px; cursor: pointer; transition: .3s ease-out;}
.header-cart-info{display: inline-block; vertical-align: middle; text-align: center; margin-left: 10px;}
.header-cart-info > span{font-size: 15px; line-height: 17px; color: $colorPrimary; text-align: left;}
.header-cart-info #header-cart-quantity{line-height: 15px; color: $colorPrimary; font-size: 15px; font-weight: bold; display: block;}
.header-cart-info #header-cart-quantity:after{content: ' itens'; font-weight: normal;}
.header-cart-icon svg.icon-cart{width: 34px; height: 34px; fill: $colorPrimary;}
.header-cart-items .bt-medium{border-radius: 8px;}
.header-cart-items .header-cart-icon-box{display: inline-block; text-align: center; vertical-align: bottom; position: relative; margin-right: 10px; line-height: 32px;}
.header-cart-items-close{background: #FFFFFF; width: 25px; height: 25px; line-height: 28px; text-align: center; display: inline-block; padding: 5px; position: absolute; left: 0; font-size: 0; top: 10px; user-select: none; cursor: pointer; font-weight: bold; border-top-left-radius: 5px; border-bottom-left-radius: 5px; transition: .3s;}
.header-cart-item.header-card-item-brinde{background: #5ac788;}
.header-cart-item.header-card-item-brinde p{text-align: left; font-size: 15px; font-weight: bold; background: #5ac788; margin: 0 0 20px 0; color: #FFFFFF; padding: 0 15px; box-sizing: border-box;}
.header-cart-item.header-card-item-brinde .header-cart-item-name a span{color: #FFFFFF;}
.header-cart-item.header-card-item-brinde .header-cart-item-id, .header-cart-item.header-card-item-brinde .header-cart-item-price{display: none;}
.show-cart-modal .header-cart-items-close{left: -35px; font-size: 15px;}
.header-cart-quantity{text-align: center; font-size: 1.6rem; width: 100%; padding: 1rem 0; border: 1px solid #d7d7d7; color: $colorSecondary}
.header-cart-quantity strong{color: #777777}
.header-cart-items.float-box-right .arrow-up{right: 15px}
.header-cart-items{transition: .6s; display: block; font-size: 1.1rem; text-align: right; position: fixed; height: 100%; top: 0; box-sizing: border-box; background: #FFFFFF; z-index: 1004; padding: 3.5rem 3rem;}
.show-cart-modal .header-cart-items{right: 0; transition: .6s; z-index: 99999;}
/*.header-cart-items .header-cart-items-title{text-align: center; position: relative; padding: 0; margin-bottom: 2em;}
.header-cart-items .header-cart-items-title:before{border-bottom: 1px solid $colorPrimary; height: 1px; content: ''; width: 100%; position: absolute; top: 10px; left: 0;}
.header-cart-items .header-cart-items-title:after{border-bottom: 1px solid $colorPrimary; height: 1px; content: ''; width: 100%; position: absolute; top: 15px; left: 0;}*/
/*.header-cart-items .header-cart-items-title strong{position: relative; z-index: 20; font-size: 22px; text-transform: uppercase; color: $colorPrimary; background: #fff; display: inline-block; font-weight: 700; padding: 0 20px;}
.header-cart-items .header-cart-items-title > img{margin-right: 20px; display: inline-block; vertical-align: middle;}
.header-cart-items .header-cart-items-title > span{display: inline-block; vertical-align: middle; font-size: 24px; line-height: 32px; color: #0b0b0b;}*/

.header-cart-items-title{text-align: left; padding: 0; position: relative; overflow: hidden; font-size: 22px; line-height: 22px; color: $colorSecondary; font-weight: bold; display: block;  position: relative; z-index: 20; padding: 0 30px 0 0; margin-bottom: 20px;}
.header-cart-items-title strong{background: #fff; position: relative; z-index: 10; padding-right: 20px;}
.header-cart-items-title:before{content: ''; display: inline-block; vertical-align: top; width: 22px; height: 22px; background: url(../imagens/icon-title.svg) no-repeat center; background-size: auto 22px; margin-right: 10px;}
.header-cart-items-title:after{content: ''; display: block; width: 1100px; height: 1px; background: $colorSecondary; position: absolute; left: 35px; top: 55%;}


.header-cart-items-list{max-height: 65%; overflow-y: auto; overflow-x: hidden}
.header-cart-items-list::-webkit-scrollbar-track{background-color: #ccc;}
.header-cart-items-list::-webkit-scrollbar{width: 4px; background: #ccc;}
.header-cart-items-list::-webkit-scrollbar-thumb{background: $colorPrimary;}
.header-cart-item{border-bottom: 1px solid #d7d7d7; padding: 1.5rem 0;}
.header-cart-item{border-bottom: 1px solid #d7d7d7; padding: 1.5rem 0; transition: .6s ease-out; position: relative;}
.active.header-cart-item{padding: 0; opacity: 0; right: -370px; height: 0;}
.header-cart-item-image{padding: 0; width: 90px; text-align: center; display: inline-block; vertical-align: middle;}
.header-cart-item-image a img{display: block; margin: 0 auto}
.header-cart-item-info{display: inline-block; vertical-align: middle; width: calc(100% - 90px); position: relative;}
.header-cart-item-name{font-size: 13px; line-height: 18px; padding: 0 .8rem; text-align: left; color: $colorQuinary; font-weight: normal;}
.header-cart-item-name a span{max-height: 35px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.header-cart-item-name small{display: block; font-size: 1.2rem; margin-top: .5rem; font-weight: normal}
.header-cart-item-id{text-align: right; padding: 10px .8rem 5px 0;}
.header-cart-item-id small, .header-cart-item-id span{display: inline-block; vertical-align: middle;}
.header-cart-item-id span{cursor: pointer;}
.header-cart-item-id small{margin-right: 10px; font-size: 14px;}
.header-cart-item-price{font-size: 1.5rem; font-weight: bold; color: $colorPrimary; text-align: left; padding: 0 .8rem;}
.header-cart-items-subtotal{text-align: right; font-size: 1.5rem; padding: 2rem 0; color: #6c6c6c; border-bottom: 1px solid #d7d7d7; margin-bottom: 2rem;}
.header-cart-items-subtotal strong{color: $colorPrimary}
.header-cart-items-empty{font-size: 1.2rem; padding: 5px 0; text-align: left; color: $colorQuinary}
.header-cart-items-empty p{display: block; font-size: 1.8rem; line-height: 2.2rem; font-weight: bold; padding: 3rem 0 1.5rem}
.header-cart-items-empty span{display: block; font-size: 1.4rem; line-height: 2rem; padding: 1.5rem 0; border-bottom: 1px solid #d7d7d7}
.header-cart-items-empty span:last-child{border: 0}
.header-cart-items-empty > strong{font-size: 22px; line-height: 22px; text-align: center; display: block; padding: 10px 0 0;}
.header-cart-items-empty .bt-medium, .header-cart-items-empty .bt-big{text-transform: none; font-size: 1.8rem; line-height: 4rem; font-family: $fontPrimary; font-weight: bold;}
.bt-continueBuy{margin-top: 15px;}

/* Header Bottom */
.header-bottom{padding: 0; display: inline-block; vertical-align: top; width: 100%; background: $colorSeptenary;}
.header-menu{display: inline-block; vertical-align: middle; width: 100%;}
.header-menu>ul{display: block; width: 100%; font-size: 0; position: relative; text-align: left;}
.header-menu .header-menu-li{display: inline-block; vertical-align: middle; box-sizing: border-box; padding: 0;}
.header-menu .header-menu-li:first-of-type{padding-left: 0; background: $colorSecondary;}
.header-menu .header-menu-li:first-of-type > .header-menu-a{padding-left: 0;}
.header-menu .header-menu-li:first-of-type > .header-menu-a h2{line-height: 15px; padding-top: 7px; box-sizing: border-box; text-align: left; color: #fff; display: inline-block; vertical-align: top;}
.header-menu .header-menu-li:first-of-type > .header-menu-a svg{display: inline-block; vertical-align: top; padding: 13.5px; fill: #ffffff;}
.header-menu .header-menu-li:last-of-type{padding-right: 0}
.header-menu .header-menu-li:last-of-type > .header-menu-a{border-right: none;}
.header-menu .header-menu-li .header-menu-a.header-menu-noLink{cursor: default}
.header-menu .header-menu-li > .header-menu-a{color: #fff; text-decoration: none; text-transform: uppercase; display: block; text-align: left; transition: .3s; display: block; height: 45px; padding: 0 1vw; margin: 0; text-align: center; border-right: 1px solid $colorSecondary;}
.header-menu .header-menu-li > .header-menu-a h2{font-size: 13px; line-height: 45px; height: 45px; font-weight: bold; margin: 0; padding: 0;}
.header-menu-li:last-of-type .header-menu-a h2{border-right: 0; padding-right: 0;}
// .header-menu .header-menu-li:first-of-type .header-menu-subMenu{//     display: block !important; //}
.header-menu-subMenu{display: none; position: absolute; background: #fff; text-align: left; box-sizing: border-box; padding: 3rem 2rem; z-index: 9999; border: 0; width: 1280px; top: 100%; left: 0; overflow: hidden; font-size: 0; transition: .6s; box-shadow: 1px 1px 2px 0px #b1b1b1;}
.header-menu .header-menu-li:hover .header-menu-subMenu{display: block; transition: .6s}
.header-menu .header-menu-li:hover .header-menu-subMenu .header-subMenu-li{width: 23%; margin: 0 1%; display: inline-block; vertical-align: top;}
.header-menu-subMenu .header-subMenu-li.header-subMenu-li-dropdown{display: inline-block; vertical-align: top; width: 200px;}
.header-menu-subMenu .header-subMenu-li > .header-menu-a h2{color: $colorQuaternary; font-size: 13px; line-height: 15px; font-weight: normal; text-decoration: none; display: block; text-align: center; padding: 1rem 5px 1rem 5px; transition: .3s; text-align: left; border-bottom: 1px solid #eee; text-transform: uppercase;}
.header-menu-subMenu .header-subMenu-li:hover > .header-menu-a h2{padding: 1rem 3px 1rem 7px; background: #f5f5f5;}
.header-menu-subMenu .header-subMenu-li.header-subMenu-li-dropdown > .header-menu-a h2{color: $colorQuinary; font-weight: bold;}
.header-menu-grandsonMenu{background: #fff; text-align: left; box-sizing: border-box; -webkit-transition: .5s; transition: .5s; overflow: hidden}
.header-menu-grandsonMenu .header-grandsonMenu-li > .header-menu-a h3{color: $colorQuaternary; font-size: 15px; line-height: 16px; text-decoration: none; display: block; text-align: center; padding: 1rem 0; transition: .3s; text-align: left; font-weight: normal;}

/* Menu Mobile */
.header-menu-fixed .header-menu-li>.header-menu-a{border-bottom: .1rem solid #e0e0e0}
.header-menu-fixed .header-subMenu-li>.header-menu-a{border-bottom: .1rem solid #c3c3c3}
.header-menu-fixed .header-subMenu-li:last-of-type>.header-menu-a{border-bottom: 0;}
.header-menu-fixed .header-grandsonMenu-li>.header-menu-a{border-bottom: .1rem solid #c3c3c3}
.header-menu-fixed .header-menu-grandsonMenu li:last-of-type .header-menu-a{border-bottom: 0}
.header-menu-fixed .header-menu-a{font-size: 1.5rem; line-height: 1.6rem; padding: 1.7rem 0 1.5rem; margin: 0 1.2rem; color: $colorQuinary; text-decoration: none; text-transform: uppercase; display: block; transition: .2s; text-align: left;}
.header-menu-fixed .header-menu-subMenu li a{display: block}
.header-menu-fixed .header-menu-subMenu .header-menu-btGo .bt-medium{width: 100%; border-radius: 0; margin: 10px 0 30px 0;}
.header-menu-fixed .header-menu-subMenu>li>.header-menu-a{text-transform: uppercase; padding-left: 25px; font-size: 13px;}
.header-menu-fixed{-webkit-transition: .6s; -o-transition: .6s; transition: .6s; display: block; font-size: 1.1rem; text-align: right; position: fixed; height: 100%; top: 0; -webkit-box-sizing: border-box; box-sizing: border-box; background: #FFFFFF; z-index: 1004; padding: .5rem;}
.show-menu-modal .header-menu-fixed{left: 0; transition: .6s; z-index: 1003;}
.header-menu-fixed .box-back .icon-toLeft{fill: #fff; width: 65%}
.header-menu-fixed .box-menu-parents{display: block; position: relative; z-index: 4; width: 100%; list-style: none; padding: 0; margin: 0; overflow-x: hidden}
.header-menu-fixed .header-menu-a-icon{display: inline-block; float: right; font-size: 0}
.header-menu-fixed .header-menu-a-icon svg{fill: $colorPrimary}
.header-menu-fixed .header-menu-a-icon .icon-remove{display: none}
.header-menu-fixed .box-menu-parents .header-menu-subMenu{position: relative; top: 0; left: 0; display: block; border: none; color: #777777; overflow-y: scroll; list-style: none; width: 100%; height: auto; max-height: 0; padding: 0; -webkit-transition: .5s; transition: .5s; box-shadow: none;}
.header-menu-fixed .box-menu-parents .header-menu-grandsonMenu{color: #777777; background-color: #FFFFFF;}
.header-menu-fixed .box-menu-parents .header-menu-grandsonMenu li{background-color: #f5f5f5}
.header-menu-fixed .box-menu-parents .header-menu-grandsonMenu li a{font-size: 12px; padding: 1.2rem 1rem 1.2rem 2.5rem !important; border-color: #ddd;}
.header-menu-fixed .click-parents>.header-menu-a, .header-menu-fixed .click-parents-subMenu>.header-menu-a{color: $colorPrimary; font-weight: bold; border-color: #c3c3c3}
.header-menu-fixed .click-parents-subMenu>.header-menu-a{border: 0}
.header-menu-fixed .click-parents>.header-menu-a .header-menu-a-icon .icon-add, .header-menu-fixed .click-parents-subMenu>.header-menu-a .header-menu-a-icon .icon-add{display: none}
.header-menu-fixed .click-parents>.header-menu-a .header-menu-a-icon .icon-remove, .header-menu-fixed .click-parents-subMenu>.header-menu-a .header-menu-a-icon .icon-remove{display: block; fill: $colorPrimary}
.header-menu-fixed .click-parents>.header-menu-subMenu, .header-menu-fixed .click-parents-subMenu>.header-menu-grandsonMenu{max-height: 100vh; -webkit-transition: .5s; transition: .5s}
body .header-cart-addedMessage{background: $colorQuinary; color: #fff; display: none; font-size: 1.4rem; font-weight: bold; line-height: 4rem; text-transform: uppercase; padding: 0 1.5rem; text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 100; box-sizing: border-box;}
.intelligent_search_result{background-color: #fffbfb; border-top: 1px solid #f7e9e9}
.intelligent_search_term_item{font-size: 14px; line-height: 30px; padding: 0 .8rem; color: #8b0d0f}
#IntelligentSearchComponent{position: relative}
.searchHeader-results{background: #eee; border: 1px solid #ccc; border-top: 0; position: absolute; left: 0; text-align: left; width: 100%; box-sizing: border-box; z-index: 100}
.searchHeader-termsList{border-bottom: 1px solid #d2d2d2}
.searchHeader-termsList a{display: block; padding: 7px 15px; font-size: 12px; line-height: 14px;}
.searchHeader-title{text-align: center; color: $colorQuinary; padding: 5px 10px; text-transform: uppercase; background: #dedede; font-size: 14px; line-height: 18px;}
.searchHeader-contentProducts li{display: block; border-bottom: 1px solid #d2d2d2; padding: 10px}
.searchHeader-contentProducts .searchHeader-contentImage{display: inline-block; width: 80px; vertical-align: middle; margin-right: 10px}
.searchHeader-contentProducts img{max-width: 100%}
.searchHeader-contentInfo{width: calc(100% - 180px); display: inline-block; vertical-align: middle; }
.searchHeader-contentInfo a{display: block; font-size: 14px}
.searchHeader-contentBtn{display: inline-block; vertical-align: middle; width: 80px; margin-left: 10px;}
.searchHeader-contentBtn .bt-goCheckout{font-size: 10px;}
.searchHeader-productName{font-size: 14px; font-weight: normal}
.searchHeader-contentPrice{color: #333; padding: 5px 0; font-size: 10px}
.searchHeader-productPrice{display: block}
.searchHeader-productSalePrice{font-size: 18px; font-weight: bold}

/* Header Checkout */
#checkoutHeader{width: 100%; z-index: 100; background-color: #fff; box-shadow: 1px 1px 10px 3px #ededed}
.checkoutHeader-step{background-position: 100px 100px; width: 620px; height: 50px; display: inline-block; vertical-align: middle;}
#checkoutHeader .header-content{text-align: left; position: relative; height: 80px;}
#checkoutHeader .header-logo a{margin: 0}
#checkoutHeader .seal-securityBuy{width: 147px; height: 38px; background-position: -300px -50px; position: absolute; right: 0; top: 50%; margin-top: -19px; color: #444;}
#checkoutHeader .seal-securityBuy svg{width: 45px; height: 45px; display: inline-block; vertical-align: middle; fill: $colorSecondary;}
#checkoutHeader .seal-securityBuy .seal-securityBuy-txt{display: inline-block; vertical-align: middle; margin-left: 10px; color: $colorSecondary;}
#checkoutHeader .seal-securityBuy .seal-securityBuy-txt span{font-size: 13px; line-height: 13px; font-weight: bold;}
#checkoutHeader .seal-securityBuy .seal-securityBuy-txt strong{font-size: 20px; line-height: 20px; display: block;}
#checkoutHeader.step-identification .header-cart{display: none !important}
.about-onePage{border-top: 1px solid gainsboro; padding-top: 40px; margin-top: 40px;}
.about-onePage strong{font-size: 18px; margin: 0 0 15px 0; display: block;}
.about-onePage p{font-size: 14px; line-height: 24px;}

/* Rastrear Objetos */
.modal-dialog{z-index: 9999; width: auto; padding: 10px; margin-right: auto; margin-left: auto; display: none; position: absolute; user-select: none;}
.modal.fade .modal-dialog{-webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); -webkit-transition: -webkit-transform .3s ease-out; -moz-transition: -moz-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out;}
.modal.in .modal-dialog{-webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0);}
#openRastreio .modal-head{background: #5888b4; border-radius: 10px 10px 0 0; text-transform: uppercase; font-size: 11px; padding: 10px;}
#meuModalLabel{padding: 10px; color: #ffffffc2; font-size: 20px; letter-spacing: .4px; border-radius: 4px 4px 0 0; margin-top: 0; position: relative; font-family: $fontPrimary;}
.modal-head{background: $colorPrimary; border-radius: 10px 10px 0 0; text-transform: uppercase; font-size: 11px; padding: 10px; text-align: center; position: relative;}
.modal-head h3{font-size: 18px; font-weight: 400;}
.modal-head svg.icon-close{position: absolute; top: 12px; right: 12px; width: 15px; height: 15px; fill: #FFFFFF; cursor: pointer;}
#modalRastreio{background: #fff; border-radius: 0 0 5px 5px; position: relative; padding: 0 !important;}
#formRastrearObj{float: none; margin: 0; width: 400px; margin: auto; position: relative; overflow: hidden; padding: 20px 16px; font-size: 12px;}
#formRastrearObj input{padding: 14px 14px !important; border: 2px solid #ececec; border-radius: 6px; box-sizing: border-box; width: 100%; background: #ececec; z-index: 1; position: relative; font-size: 16px; font-family: $fontPrimary;}
.bt-submitRastreamento svg.icon-search{color: $colorQuinary; width: 20px; height: 20px; position: absolute; right: 35px; top: 35px; z-index: 999; cursor: pointer;}
#formRastrearObj > img{display: none;}

/*Header Tertiary*/
.heading-tertiary{text-align: left !important; padding: 0; position: relative; overflow: hidden;}
.heading-tertiary:before{content: ''; display: inline-block; vertical-align: top; width: 30px; height: 30px; background: url(../imagens/icon-title.svg) no-repeat center; margin-right: 10px;}
.heading-tertiary h2:after{content: ''; display: block; width: 1100px; height: 1px; background: $colorSecondary; position: absolute; left: 100%; top: 55%;}
.heading-tertiary h1, .heading-tertiary h2, .heading-tertiary h3{color: $colorSecondary; font-weight: bold; display: inline-block; vertical-align: top; position: relative; z-index: 20; padding: 0 30px 0 0;}



@media screen and (min-width:768px) {
    .modal-dialog{right: auto; left: 50%; width: 600px; margin-left: -300px; box-sizing: border-box; padding-top: 30px; padding-bottom: 30px;}
}
@media screen and (min-width:991px) {
    .searchHeader-results{top: 56px;}
    .header-middle .box-content{padding-top: 20px; padding-bottom: 20px;}
    .header-middle .header-left{text-align: left;}
    .header-middle .header-center{width: 200px; margin-right: 40px; text-align: left;}
    .header-middle .header-search{width: calc(100% - 240px - 360px);}
    .header-middle .header-search fieldset{height: 56px;}
    .header-middle .header-search fieldset label input{width: calc(100% - 56px); height: 47px; font-size: 16px;}
    .header-middle .header-search-buttom{height: 47px; width: 66px; margin-left: -10px;}
    .header-middle .header-cart-login{text-align: right; width: 360px; margin-top: 54px;}
    .header-middle .logo-svg{height: 44px}
    .header-middle .header-login{margin-right: 30px;}
    .header-middle .header-login-nav a:hover{text-decoration: underline}
    #header.fixed{position: fixed}
    #header.fixed .header-bottom{height: 0; padding: 0; transition: .3s; display: none;}
    #header.fixed:hover .header-bottom{height: 56px; transition: .3s;}
    #header.fixed .header-top{display: none;}
    #header.fixed .header-middle .box-content{padding-top: 10px; padding-bottom: 10px;}
    .header-logo{text-align: center;}
    .header-logo img{width: 100%;}
    .header-login .icon-user{width: 30px; height: 30px;}
    .header-login.boxLoginOpen{transition: .3s ease-out;}
    .header-cart:hover{transition: .3s ease-out;}
    .box-login{top: 35px;}
    .header-menu .header-menu-a:hover{opacity: .5; transition: .3s;}
    .header-menu-a-icon svg{width: 14px; height: 14px}
    /*.header-search-buttom:hover{background-color: $colorPrimary; transition: .3s ease-out;}
    .header-search-buttom:hover .icon-search{fill: #FFFFFF}*/
    .heading-tertiary h1, .heading-tertiary h2, .heading-tertiary h3{font-size: 30px; line-height: 30px;}

}
@media screen and (max-width:1000px) {
    .header-content{display: flex; text-align: center; justify-content: space-between; flex-wrap: wrap;}
    .header-content>*{align-self: center;}
    .header-middle{padding-top: 1rem; padding-bottom: 1rem;}
    .header-menu-icon{max-width: 40px; font-size: 2.8rem; float: left;}
    .searchHeader-results{top: 44px;}
    .icon-menu{fill: $colorPrimary; width: 34px; height: 34px; padding: 4px; box-sizing: border-box;}
    .header-middle .header-logo{text-align: center; max-width: 130px;}
    .header-center{flex: 1; margin: 0 1rem;}
    .box-login{top: 70px; position: fixed;}
    .box-login:before{content: none;}
    .header-menu-a-icon svg{width: 12px; height: 12px}
    .header-middle .header-search{order: 6; margin-top: 1rem;}
    .header-middle .header-search fieldset{width: 100%; min-width: 100%}
    .header-middle .header-search fieldset{height: 44px;}
    .header-middle .header-search fieldset label input{width: calc(100% - 44px); height: 44px;}
    .header-middle .header-search-buttom{width: 54px; height: 44px; margin-left: -10px;}
    .header-login{margin: 0 15px 0 0; padding-right: 15px !important; border-right: 1px solid #ddd;}
    .loginHome, .header-login{position: initial; padding: 1px;}
    .header-login .icon-user{width: 28px; height: 28px;}
    .logo-dpto-mobile{width: 100px; display: block; margin: 15px auto 30px auto;}
    .header-menu-fixed .header-cart-items-title{padding-left: 15px; margin-bottom: 30px; font-size: 20px;}
    .header-menu-fixed .header-cart-items-title:after{left: 50px;}
    .header-cart{margin-right: 0}
    .header-cart-item-price{padding-left: .8rem}
    .header-cart-info{margin-left: 8px;}
    .header-cart-info>span{font-size: 0; line-height: 0;}
    .header-cart-info #header-cart-quantity{line-height: 20px; color: $colorPrimary; font-size: 12px; font-weight: bold; display: block; position: absolute; z-index: 20; top: 0; right: 0; background: $colorSecondary; color: #fff; width: 20px; height: 20px; border-radius: 100%; text-align: center;}
    .header-cart-info #header-cart-quantity:after{display: none;}
    .header-cart-icon{width: 30px; height: 30px;}
    .header-cart-icon svg.icon-cart{width: 30px; height: 30px;}
    .heading-tertiary{text-align: center !important;}
    .heading-tertiary:before{margin-bottom: 5px;}
    .heading-tertiary h1, .heading-tertiary h2, .heading-tertiary h3{font-size: 22px; line-height: 22px; padding-right: 0;}
    .heading-tertiary h2:after{display: none;}
    .heading-tertiary:before{width: 22px; height: 22px; background-size: auto 22px;}
}
@media only screen and (min-width:481px) {
    #checkoutHeader .header-logo{position: absolute; left: 0; top: 50%; margin-top: -30px; height: 60px; overflow: hidden;}
    #checkoutHeader .header-logo img{height: 67px; width: auto;}
    #checkoutHeader .header-seal-secure{right: 1rem;}
    .header-menu-fixed{width: 430px; left: -430px;}
    .header-cart-items{width: 430px; right: -430px;}
}
@media only screen and (min-width:321px) and (max-width:1000px) {
    .header-menu-fixed{width: 320px; left: -320px;}
    .header-cart-items{width: 320px; right: -320px;}
}
@media only screen and (max-width:1000px) {
	.icon-menu{padding: 5px;}
	.header-middle .header-logo{max-width: 110px !important;}
	.header-logo img{max-height: 60px; max-width: auto !important; width: auto !important;}
	.header-menu-fixed{overflow-y: auto;}
    #checkoutHeader .header-seal-secure{display: none;}
    #checkoutHeader .header-content{/*justify-content: center;*/}
    #checkoutHeader .seal-securityBuy{height: 30px; margin-top: -15px;}
    #checkoutHeader .seal-securityBuy svg.icon-security{width: 30px; height: 30px;}
    #checkoutHeader .seal-securityBuy .seal-securityBuy-txt span{font-size: 12px; line-height: 12px;}
    #checkoutHeader .seal-securityBuy .seal-securityBuy-txt strong{font-size: 18px; line-height: 18px;}

    .searchHeader-contentInfo{width: calc(100% - 60px);}
    .searchHeader-contentInfo a{font-size: 12px;}
    .searchHeader-contentProducts .searchHeader-contentImage{width: 50px;}
	.searchHeader-contentBtn{display: none;}
}
@media only screen and (max-width:320px) {
    .header-menu-fixed{width: 270px; left: -270px;}
    .header-cart-items{width: 270px; right: -270px; padding: 2rem 1rem;}
}