.heading-tertiary{margin: 4rem 0; text-align: center !important; font-size: 0;}
.heading-tertiary:after{content: ''; display: block; width: 100%; height: 1px; background: #eee; position: absolute; z-index: 1; left: 0; top: 55%;}
.heading-tertiary:before{background-color: #fff; position: relative; z-index: 10; margin-right: 0; padding: 0 15px 0 30px; background-position-x: 30px;}
.heading-tertiary h2{position: relative; z-index: 10; background: #fff;}
.heading-tertiary h2:after{display: none;}

.identification{overflow: hidden; padding: 0}
.identification .alert{margin-top: 0}
.identification-form .form-item{text-align: center}
.identification-form .form-box fieldset{padding: 1rem .5rem; box-sizing: border-box}
.identification-form fieldset label input[type=text], .identification-form fieldset label input[type=password]{padding: 10px; margin: 5px 0; background: #eee !important; display: inline-block; text-align: center; width: 100%; max-width: 300px;}
.identification-form-bt{padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #ddd; border-radius: 0 0 6px 6px; overflow: hidden}
.identification-forgotPassword, .identification-forgotEmail{margin-top: 1.2rem}
.identification .form-box{border: none;}
.identification .form-box-heading{border: none; border-bottom: 1px solid #ddd; padding: 0 0 15px 0; background: none; text-align: center;}
.identification .form-title{text-align: center;}
.identification .form-box-bt{background: none; border: none; padding: 0; text-align: center;}
.identification .form-box-bt .bt-medium{float: none !important;}
.register-info{float: right; font-size: 1.2rem; font-weight: normal;}
.register-personType{padding: 10px 15px !important}
.register-personType label{vertical-align: middle; margin-right: 15px}
.register-changeEmail, .register-forgotZipCode, .register-isent{margin: -2.5rem 1rem 0 0; float: right; position: relative}
.register-isent span{vertical-align: middle}
.cpfDisable input, .cnpjDisable input{background-color: #F9F9F9}
.first-buy{margin: 1rem auto 1.5rem; color: #468847; background-color: #dff0d8; font-size: 1.2rem; line-height: 1.8rem; box-sizing: border-box; text-align: center; padding: 1.5rem}
.first-buy h2{font-size: 1.3em}
.attention{width: 480px; padding: 10px; text-align: left}
.attention h2{font-size: 30px; color: #FFA200; font-weight: normal; display: block; margin: 0 0 20px 0}
.attention h2:before{content: ""; float: left; display: block; width: 30px; height: 30px; background: url("../imagens/sprite.png?v04") no-repeat -400px -350px; margin: 3px 10px 0 0}
.attention h3{font-size: 1.1rem; color: #666666; display: block; margin: 0 0 5px 0}
.attention p{color: #666666; display: block; font-weight: normal; margin-top: 8px; line-height: 17px}
@media only screen and (max-width:400px) {
	.heading-tertiary{margin: 3rem 0 0.5rem 0;}
	.form-box-heading{font-size: 1.4rem; line-height: 1.7rem;}
    .identification-forgotPassword, .identification-forgotEmail{width: 100%; margin: 1.2rem 0}
    .identification-forgotPassword+a, .identification-forgotEmail+a{width: 100%}
}
