#ngdialog1-aria-labelledby {
    border: none !important
}

.ngdialog {
    box-sizing: border-box
}

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
    box-sizing: inherit
}

.ngdialog {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
    -webkit-animation: none !important;
    animation: none !important
}

.ngdialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s
}

.ngdialog-no-overlay {
    pointer-events: none
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadeout 0.5s;
    animation: ngdialog-fadeout 0.5s
}

.ngdialog-content {
    background: white;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
    pointer-events: all
}

.ngdialog.ngdialog-closing .ngdialog-content {
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadeout 0.5s;
    animation: ngdialog-fadeout 0.5s
}

html.ngdialog-open,
body.ngdialog-open {
    overflow: hidden
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 160px;
    padding-top: 160px
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #fff;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 95%;
    padding: 1em;
    position: relative;
    width: 450px
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
    position: absolute;
    bottom: -29px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    right: 0;
    top: 0;
    background: none;
    border: none;
    width: 50px;
    cursor: pointer
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    display: block;
    width: 100%;
    content: "X";
    background: #E63A3B;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    top: 0;
    right: 0;
    position: absolute;
    text-indent: 0 !important;
    transition: .2s;
    text-align: center
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
    background: #040404
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: none
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
    *zoom: 1
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: none
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777
}

.ngdialog.ngdialog-theme-plain {
    padding-bottom: 160px;
    padding-top: 160px
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    background: #fff;
    color: #444;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 450px
}

.ngdialog.ngdialog-theme-plain .ngdialog-content h1,
.ngdialog.ngdialog-theme-plain .ngdialog-content h2,
.ngdialog.ngdialog-theme-plain .ngdialog-content h3,
.ngdialog.ngdialog-theme-plain .ngdialog-content h4,
.ngdialog.ngdialog-theme-plain .ngdialog-content h5,
.ngdialog.ngdialog-theme-plain .ngdialog-content h6,
.ngdialog.ngdialog-theme-plain .ngdialog-content p,
.ngdialog.ngdialog-theme-plain .ngdialog-content ul,
.ngdialog.ngdialog-theme-plain .ngdialog-content li {
    color: inherit
}

.ngdialog.ngdialog-theme-plain .ngdialog-close {
    position: absolute;
    bottom: -29px;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    right: 0;
    top: 0;
    background: none;
    border: none;
    width: 50px;
    cursor: pointer
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:before {
    display: block;
    width: 100%;
    content: "X";
    background: #E63A3B;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    top: 0;
    right: 0;
    position: absolute;
    text-indent: 0 !important;
    transition: .2s
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-plain .ngdialog-close:active:before {
    background: #040404
}

.ngdialog.ngdialog-theme-plain .ngdialog-message {
    margin-bottom: .5em
}

.ngdialog.ngdialog-theme-plain .ngdialog-input {
    margin-bottom: 1em
}

.ngdialog.ngdialog-theme-plain .ngdialog-input textarea,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="url"] {
    background: #f0f0f0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%
}

.ngdialog.ngdialog-theme-plain .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type="url"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    outline: none
}

.ngdialog.ngdialog-theme-plain .ngdialog-buttons:after {
    clear: both;
    content: '';
    display: table
}

.ngdialog.ngdialog-theme-plain .ngdialog-button {
    border: 0;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase
}

.ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: none
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none
    }
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777
}

.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 150px
}


/*! ngDialog - v0.1.6 (https://github.com/likeastore/ngDialog) */

.ngdialog.ngdialog-theme-plain {
    padding-bottom: 160px;
    padding-top: 160px
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    min-height: 460px;
    background: #fff;
    color: #444;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 1190px
}

.ngdialog.ngdialog-theme-plain .ngdialog-content h1,
.ngdialog.ngdialog-theme-plain .ngdialog-content h2,
.ngdialog.ngdialog-theme-plain .ngdialog-content h3,
.ngdialog.ngdialog-theme-plain .ngdialog-content h4,
.ngdialog.ngdialog-theme-plain .ngdialog-content h5,
.ngdialog.ngdialog-theme-plain .ngdialog-content h6,
.ngdialog.ngdialog-theme-plain .ngdialog-content li,
.ngdialog.ngdialog-theme-plain .ngdialog-content p,
.ngdialog.ngdialog-theme-plain .ngdialog-content ul {
    color: inherit
}

.ngdialog.ngdialog-theme-plain .ngdialog-message {
    margin-bottom: .5em
}

.ngdialog.ngdialog-theme-plain .ngdialog-input {
    margin-bottom: 1em
}

.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=email],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=password],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=text],
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=url],
.ngdialog.ngdialog-theme-plain .ngdialog-input textarea {
    background: #f0f0f0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%
}

.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=email]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=password]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=text]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input input[type=url]:focus,
.ngdialog.ngdialog-theme-plain .ngdialog-input textarea:focus {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    outline: 0
}

.ngdialog.ngdialog-theme-plain .ngdialog-buttons:after {
    clear: both;
    content: '';
    display: table
}

.ngdialog.ngdialog-theme-plain .ngdialog-button {
    border: 0;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase
}

.ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: 0
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none
    }
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777
}