.paymentMethods {
    overflow: hidden
}

.paymentMethodsList {
    margin: 30px auto;
    overflow: hidden
}

.paymentSelecione img {
    max-width: 100%
}

body .paymentMethodsList ul li {
    display: inline-block;
    padding: 0 3rem 3rem 0;
    vertical-align: top
}

.paymentMethodsList ul li h3 {
    color: #666666;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    min-height: 32px
}

.paymentMethodsList ul li h3 small {
    color: #999999;
    font-size: 1.2rem;
    font-weight: normal
}

.paymentMethodsList ul li ul {
    clear: both;
    text-align: center
}

.paymentMethodsList ul li ul li {
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: auto;
    padding: 4px;
    text-align: center
}

.paymentMethodsList ul li ul li img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.paymentMethodsList ul li ul li span {
    color: #666666;
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: .5rem 0;
    text-align: center
}

.paymentCategory {
    display: none
}

.paymentMethodsList-method-discount {
    color: $colorPrimary;
    font-size: 11px;
    margin: 5px 0
}

.paymentMethod {
    display: none
}

.paymentMethod h2 * {
    vertical-align: middle;
    max-width: 100%
}

.paymentMethods .form-box-heading {
    color: #035ba3;
    font-size: 25px;
    font-weight: normal
}

.paymentMethods .form-box-heading-price {
    color: #50a000;
    font-size: 20px;
    line-height: 36px
}

body .paymentMethod-form {
    margin-top: 15px
}

.paymentMethod-field {
    border: 1px solid transparent;
    margin-bottom: 3px;
    padding: 3px 0
}

.paymentMethod-field.Number {
    display: none
}

.paymentMethod-fieldSpan {
    color: #666666;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
    width: 140px;
    vertical-align: middle
}

.paymentMethod-field label input {
    width: 200px !important
}

.paymentMethod-field label select {
    width: 90px !important;
    margin-right: 10px
}

.paymentMethod-field label input.SecurityCode {
    width: 60px !important
}

.paymentMethod-field label input.Number {
    width: 130px !important
}

.paymentMethod-field label input.HolderDateOfBirth {
    width: 80px !important
}

.paymentMethod-fieldExemplo {
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 5px
}

.paymentMethod-fieldCodSeg {
    color: #0268A6;
    font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
    vertical-align: middle
}

.paymentMethod-fieldCodSeg:hover {
    text-decoration: underline
}

.paymentMethod-field label input#creditCard-fakeInput {
    width: 130px;
    padding-left: 40px
}

.paymentMethod-field label input.Master {
    background: url("../imagens/creditCardMaster.png") no-repeat left center #fff
}

.paymentMethod-field label input.Visa {
    background: url("../imagens/creditCardVisa.png") no-repeat left center #fff
}

.paymentMethod-field label input.HiperCard {
    background: url("../imagens/creditCardHiperCard.png") no-repeat left center #fff
}

.paymentMethod-field label input.Amex {
    background: url("../imagens/creditCardAmex.png") no-repeat left center #fff
}

.paymentMethod-field label input.Diners {
    background: url("../imagens/creditCardDiners.png") no-repeat left center #fff
}

.paymentMethod-fieldError {
    display: none
}

.paymentMethod-parcel {
    background: none repeat scroll 0 0 #404040;
    margin: 5px 0;
    padding: 10px 53px
}

.paymentMethod-parcel span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 7px 10px 0 0
}

.paymentMethod-parcel select {
    max-width: 390px !important
}

.paymentMethod-discount {
    display: block;
    font-size: 14px;
    margin: 20px 0;
    padding: 0 15px
}

body .paymentMethod-text {
    color: #585858;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 15px
}

.paymentMethodNote {
    display: none
}

.paymentMethodNote-box {
    float: left;
    margin-left: 8px
}

.paymentMethodNote input {
    display: block;
    float: left
}

.paymentMethodNote h3 {
    color: #585858;
    font-size: 1.4rem;
    line-height: 1.8rem
}

.paymentMethodNote p {
    color: #585858;
    font-size: 1.3rem
}

.paymentMethodNote p a {
    color: #0268A6
}

.paymentMethodNote p a:hover {
    text-decoration: underline
}

#popup-codigo-seguranca {
    text-align: left;
    width: 500px
}

#popup-codigo-seguranca {
    padding: 10px;
    text-align: left;
    width: 500px
}

#popup-codigo-seguranca p {
    color: #666666;
    font-size: 11px;
    margin-top: 10px
}

.image-text {
    clear: both;
    padding: 10px 0
}

.image-text .image {
    float: left
}

.image-text .text {
    overflow: hidden;
    padding-left: 20px
}

.image-text h3 {
    color: #666666
}

.field-validation-valid {
    display: none
}

.field-validation-error {
    color: #FF0000;
    font-size: 11px;
    display: block;
    margin-left: 150px
}

.parent-validation-error {
    background: none repeat scroll 0 0 #FFFDCD !important;
    border: 1px solid #D2CF82 !important
}

.input-validation-error {
    border: 1px solid red !important
}

.validation-summary-errors {
    background-color: #FFF5E1;
    background-image: url("../imagens/erro.png");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #FCE7BB;
    margin: 50px auto;
    padding: 20px 5px 20px 65px;
    text-align: left;
    width: 680px
}

.validation-summary-errors ul {
    list-style: none outside none
}

.validation-summary-errors ul li {
    background-image: url("../imagens/seta_erro.gif");
    background-position: left 8px;
    background-repeat: no-repeat;
    color: #444444;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 20px;
    padding: 2px 0 2px 12px
}

.validation-summary-valid {
    display: none
}

.payment-selectInfo {
    margin-top: 50px;
    text-align: center
}

.paymentMethod-faturado {
    margin: 15px 0 10px 0
}

.paymentMethod-faturado h3 {
    border: none;
    color: #666;
    font-size: 1.4rem;
    line-height: 1.8rem
}

.paymentMethod-faturado select {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #666;
    margin-top: 3px;
    width: 200px;
    height: auto !important;
    margin-top: 0 !important
}

.bonus {
    padding-bottom: 20px
}

.bonus p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #666
}

.paymentBox.active {
    width: 100%
}

.paymentBox.active+.resumeBox {
    display: none
}

@media screen and (max-width: 999px) {
    .paymentMethodsList {
        text-align: center
    }
    body .paymentMethodsList ul li {
        border: none;
        margin-bottom: 10px
    }
}