.institucional-content p{font-weight: normal; font-size: 15px; line-height: 22px; text-align: justify; margin: 20px 0;}
.institucional-content li{font-size: 15px; line-height: 22px; padding-left: 10px}
.institucional-content h2{}
.institucional-content>table{width: 100%}
