.orders{text-align: left; padding: 0; box-sizing: border-box}
.orders:after{content: ""; display: block; clear: both}
.orders-content{overflow: hidden; background: #fff; border: 1px solid #d7d7d7; border-top: none}
.order-info{overflow: hidden}
.order-number{width: 100%; text-align: center; color: $colorPrimary; font-size: 4rem; padding: calc(1rem + .5vw) 0; border: 1px solid $colorPrimary; box-sizing: border-box}
.order-payment{text-align: center; line-height: 1.5em; display: block; font-size: 0;}
.order-payment-title{font-size: 1.6rem; font-weight: normal; text-align: left; margin: 1.5rem 0 .5rem; min-width: 100%}
.order-payment p{display: block; font-size: 1.4rem; line-height: 2.2rem; font-weight: normal; text-align: left; margin: .1rem 0; width: 100%}
.order-payment-box{display: inline-block; vertical-align: top; width: 33%; padding: 2rem .5rem; font-size: 1.4rem; line-height: 2.2rem; margin: .5rem .5% .5rem 0; background-color: #ededed; box-sizing: border-box}
.order-payment-box:last-of-type{margin-right: 0;}
.order-payment-full .order-payment-box{min-width: 24%; max-width: 24%}
.order-payment-box strong{display: block; font-size: 1.4rem}
.order-payment-bt{margin: 1rem auto 1.5rem}
.order-info-boleto{padding: 1rem 0; text-align: left}
.order-info-boleto p{margin: .1rem 0}
.order-shipping-deadLine{margin-bottom: 1rem}
.order-shipping p{display: block; margin: .2rem 0; line-height: 1.5em; width: 100%}
.order-shipping .order-shipping-name{margin-bottom: 1rem}
.go-back-bt{clear: left; padding: 1rem 0}
.orders-search fieldset{border: none; margin: .8rem 0 0 0; padding: 0 0 0 0; display: block; font-size: 0;}
.orders-search fieldset label{margin: .5rem 0; font-size: 1.3rem; font-weight: bold; display: inline-block; vertical-align: middle}
.orders-search-date{display: block;}
.orders-search-date label{width: 44%}
.orders-search-date label{width: 45%}
.orders-search-date label:first-child{width: 8%}
.orders-search-date label:last-child{margin-left: 2%;}
.orders-search-bt{margin-top: 1rem}
.orders-false{display: block}
.orders-true{display: none}
.orders-false .heading-primary{margin-bottom: 15px}
.orders-false p{display: block; color: #7c7c7c; line-height: 30px}
.orders-false p strong{font-size: 18px; color: #014975}
.order-confirmation .order-payment, .order-confirmation .order-shipping{margin-top: 1rem; padding: 1rem; border: 1px solid #d7d7d7; box-sizing: border-box}

.box-recomprar{margin: 30px 0; border: 1px solid $colorSecondary; padding: 2rem; font-weight: bold; text-align: center; font-size: 20px;}
.box-recomprar .btn-recompra{background: $colorPrimary; color: #fff; padding: 1.5rem; display: inline-block; margin-top: 2rem; border-radius: 7px; font-size: 18px;}