.product-top{width: 100%; position: relative; display: inline-block}
.product-content .collection{text-align: left}
#divImagemProduto{display: block; text-align: center; font-size: 0; position: relative;}
.js--product-top-left{position: relative;}
.product-image-big{cursor: pointer; position: relative; text-align: center; display: inline-block; vertical-align: top;}
.product-image-big img{display: block; box-sizing: border-box; width: 100%;}
.fotoPrincipalProduto{width: 100%;}
.product-image-small{font-size: 0; text-align: left; display: inline-block; vertical-align: middle;}
.product-image-small .product-image-repeat{text-align: center;}
.product-image-small a{display: none; transition: .2s}
.product-image-small a:hover{opacity: 1}
.product-image-small .icon-toTop, .product-image-small .icon-toDown{width: 85px; height: 12px; margin: .5rem 0}
.product-image-small a:hover svg{height: 18px}
.product-image-small-content{max-height: 300px; overflow: hidden; position: relative; margin: 20px 0;}
.product-image-repeat:last-of-type img{margin-bottom: 0;}
.js--product-image-small-slider{display: inline-block; vertical-align: middle; position: relative; transition: .3s}
.product-image-small img{display: block; border: 1px solid #bcbcbc; margin: 0 0 10px 0; opacity: .5; width: 100%; box-sizing: border-box;}
.product-image-small img.active{border-color: #989898; opacity: 1}
.product-image-img:after, .product-image-big::after{bottom: 0; content: "Clique na foto para ampliar"; display: block; font-size: 1rem; height: 20px; opacity: 0; position: absolute; right: 0; text-align: center; transition: .1s; width: 100%}
.product-image-big::after{bottom: -25px}
.product-rating{display: block; padding-bottom: 1rem; border-bottom: 1px solid #d7d7d7}
.product-rating a{vertical-align: middle}
.product-rating img{display: inline-block; margin-right: 1rem; vertical-align: middle}
.product-promos{margin: 0; overflow: hidden; text-align: left; position: absolute; z-index: 90; top: 0; right: 0; width: 460px;}
.product-promo{display: inline-block; margin: 0 1rem 1rem 0; vertical-align: bottom}
.product-promo img{display: block}
.product-promo.product-promo-preSale span, .product-promo.product-promo-release span{height: 25px; line-height: 25px; padding: 0 2rem 0 2rem; background-color: #000; font-size: 1.3rem; color: #fff; display: block}
.product-name{font-weight: normal; font-family: $fontPrimary; color: $colorPrimary; display: inline-block;}
.rating_code{ margin-bottom: 2rem;}
.product-code{font-size: 13px; color: #aaa; display: inline-block; vertical-align: middle;}
.desCurta{font-size: 16px; color: #666; margin-bottom: 20px; display: inline-block; vertical-align: middle; width: 100%;}
.oldPrice-parcels{display: inline-block !important; vertical-align: middle; width: 60%;}
.product-price-featuredPrice{display: inline-block; vertical-align: middle; width: 40%; text-align: right; padding: 20px 0;}
.product-price-box{font-size: 0;}
.product-price-box > #divPrecoProduto{display: block;}
.product-price-content{color: $colorQuinary;}
.product-price-container{background: #FFFFFF;}
.product-price-container .product-price-content{font-size: 0;}
.product-oldPrice{display: block; font-size: 17px; color: #aaa}
.product-price-content[data-oldPrice=""] del{display: none}
.product-price{font-size: 40px; font-weight: 900; color: $colorSecondary;}
.product-splitPrice{display: block; font-size: 17px; line-height: 20px; font-weight: normal; margin: 5px 0 0 0; color: #777;}
.product-adjustedPrice{display: inline-block; vertical-align: middle; font-size: 3rem; font-weight: 900; color: $colorPrimary;}
.product-adjustedPrice strong{text-transform: uppercase; font-size: 1.25rem}
.product-adjustedPrice-boleto{display: block}
.product-adjustedPrice-boleto small{color: $colorQuaternary; font-size: 1.5rem; font-weight: bold;}
.product-variant-content .product-heading{font-weight: normal;}
.product_variants{padding-top: 20px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.product-heading.product-variant-name{font-size: 14px; font-weight: bold;}
.product-variant{padding-bottom: 20px}
.product-variant a.variante_texto_disponivel, .product-variant a.variante_texto_indisponivel{display: inline-block; margin-right: .5rem; padding: 13px 20px; border: 2px solid #cecece; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; border-radius: .5rem; color: #808080; font-size: 12px; line-height: 14px; margin-top: 13px; margin-right: 13px;}
.product-variant a.variante_texto_indisponivel{opacity: .5; border-color: #d7d7d7}
.product-variant .variante_texto_disponivel:hover, .product-variant a.variante_texto_disponivel_selecionada{background-color: $colorSecondary; border-color: $colorSecondary; color: #fff;}
.product-variant .variante_texto_indisponivel:hover, .product-variant a.variante_texto_indisponivel_selecionada{background-color: red; color: #fff; border-color: red}
.product-variant select{padding: 1rem; border: 1px solid #ccc; color: #666}
.product-variant .variante_imagem_disponivel{display: inline-block; padding: .5rem; border: 1px solid #d7d7d7; border-radius: 1rem; margin-right: 1rem}
.product-variant .variante_imagem_disponivel img{display: block; border: 1px solid #d7d7d7; width: 28px; height: 28px; border-radius: .5rem}
.product-variant .variante_imagem_disponivel:hover, .product-variant a.variante_imagem_disponivel_selecionada{border-color: $colorPrimary}
.product-variant a img{display: block; border: 1px solid #d7d7d7}
.product-buy{overflow: hidden; font-size: 0; display: block;}
.product-buy .spin{width: 13%; min-width: 60px; margin-right: 3%; position: relative; display: inline-block; vertical-align: middle; border: 1px solid #e9e9e9; box-sizing: border-box; border-radius: 5px;}
.product-buy .spin select#product-quantity{position: absolute; left: 0; top: 0; z-index: 2; padding: 0; width: 100%; height: 100%; border: 0; outline: 0; text-indent: 15px; background: #FFFFFF; color: #666666; border-radius: 5px;}
.product-buy .spin #product-quantity-input{border: 0; padding: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; color: #7b7b7b; position: relative; text-align: center; background: #FFFFFF; border-radius: 5px;}
.product-buyInput.focus input.focus{z-index: 2;}
.product-buyInput.focus:after{display: none;}
.product-variants-bt{display: block; clear: both; text-align: center;}
.product-variants-bt a svg{fill: #FFFFFF; padding: .8rem 1.5rem}
.product-variants-bt .icon-padlock{border-right: 1px solid #FFFFFF}
.product-variants-bt a svg.icon-padlock{width: 16px; height: 21px}
.product-variants-bt .icon-toRight{border-left: 1px solid #69ab2e}
.product-variants-bt a svg.icon-toRight{width: 9px; height: 21px}
.product-variants-bt-buy{width: 100%; max-width: 580px; font-size: 25px; line-height: 25px; padding: 18px 25px; background-color: $colorGoCheckout; border-color: $colorGoCheckout; color: #fff; font-weight: 900; transition: .3s; text-decoration: none !important; border: 1px solid; cursor: pointer; vertical-align: middle; box-sizing: border-box; text-align: center; text-transform: uppercase; border-radius: 30px;}
.product-variants-bt-buy:hover{background-color: $colorSecondary; border-color: $colorSecondary;}
.product-variants-bt-unavailable{font-size: 14px; line-height: 24px;}
.product-variants-bt a strong{display: inline-block; vertical-align: middle; text-transform: uppercase; font-family: $fontPrimary}

/* Kits*/
.kits{margin-top: 30px;}
.kits h3{border-top: 1px solid #ddd; padding: 15px 0; font-size: 16px; line-height: 16px; color: $colorQuinary;}
.kits_itens{overflow: hidden; padding-bottom: 10px;}
.kits_itens li{padding: 15px; float: left; width: 48%; margin: 10px 1% 0 1%; background: #f1f1f1; border: 1px solid #eee; box-sizing: border-box;}
.kits_itens li img{width: 30%; display: inline-block; margin-right: 10px; vertical-align: middle;}
.kits_itens li p{width: 63%; display: inline-block; vertical-align: middle; font-size: 14px; line-height: 16px;}
.kits_itens li p small{display: block; color: #8e8d8d; font-size: 12px; line-height: 12px; margin-top: 5px;}

/* Simular Frete */
.product-shipping{display: inline-block; vertical-align: middle; width: 100%; box-sizing: border-box;}
.product-shipping svg{display: inline-block; vertical-align: middle; fill: $colorSecondary;}
.product-shipping-title{margin-bottom: 12px; text-align: left;}
.product-shipping-title .product-heading{font-size: 16px; line-height: 16px; color: #666; padding: 0; font-weight: bold; display: block; vertical-align: middle;}
.product-shipping-title .searchCEP{display: inline-block; vertical-align: middle; font-size: 13px; color: #666; text-decoration: underline;}
.product-shipping fieldset{border: none; text-align: left; font-size: 0;}
.product-shipping label{display: inline-block; vertical-align: middle; text-align: left; font-size: 0; width: 100%;}
.product-shipping input{margin: 0; font-size: 13px; background: #fff; border: 1px solid #ddd; border-right: none; border-radius: 7px 0 0 7px; padding: 10px 15px; width: calc(100% - 100px); height: 38px; box-sizing: border-box;}
.product-shipping-input .bt-calcularFrete{display: inline-block; vertical-align: top; font-size: 13px; line-height: 38px; height: 38px; width: 100px; text-align: center; color: $colorSecondary; background: #fff; border: 1px solid #ddd; text-transform: uppercase; font-weight: bold; border-radius: 0 7px 7px 0; padding: 0;}
.product-shipping-result{margin-top: 20px; font-size: 14px;}
.product-shipping-result table{width: 100%}
.product-shipping-result th{padding: .5rem 1rem}
.product-shipping-result td{padding: 1rem}
.product-shipping-result th:last-child, .product-shipping-result td:last-child{text-align: center}
.product-shipping-result th{background: #F1F1F1; color: $colorQuinary}
.product-shipping-result tr:nth-child(even) td{background: #F1F1F1}
.product-shipping-result td del{white-space: nowrap; display: block}
.product-shipping-noResult{text-align: center; padding: 30px 0}
.fb-share, .twitter-share, .whatsapp-share{display: inline-block; margin-right: 1rem; vertical-align: top; transition: .2s}
.product-share{margin-top: 40px; text-align: right;}
.product-share .product-heading{color: #777; line-height: 13px; font-size: 12px; font-weight: bold; padding: 0; margin: 0; display: block; display: inline-block; vertical-align: middle; width: 85px; padding-right: 15px; margin-right: 5px; border-right: 1px solid #ddd;}
.product-share svg{width: 22px; height: 22px; padding: 2px; fill: $colorSecondary}
.product-share .twitter iframe{width: 65px !important}
.product-instalments{margin: 2rem 0 0 0}
.product-variant-lowStock{width: 100%; padding: 1rem; text-align: center; color: $colorSecondary; box-sizing: border-box}
#descricao{display: block; clear: both; text-align: left; padding: 4rem; margin-bottom: 4rem; background: #f4f4f4; border-radius: 10px; transition: .5s}

/* Abas */
ul.produto_abas li{float: left; width: auto; margin: 0 10px -2px 0; position: relative; z-index: 30;}
ul.produto_abas li a{background-color: #eaeaea; color: #666; display: block; line-height: 24px; outline: none; text-align: center; text-shadow: 0 1px #FFF; text-shadow: none; font-weight: 700; font-size: 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 15px 20px;}
ul.produto_abas li a, ul.produto_abas li.heading-tabs a{border-color: #e6e6e6 #e6e6e6 #fff; border-style: solid; border-width: 1px;}
ul.produto_abas li.heading-tabs a{background: #fff; color: $colorPrimary;}
ul.produto_abas li.heading-tabs a, ul.produto_abas li.heading-tabs a:hover{background-position: top left;}
.descricao_texto_conteudo table{font-size: 17px; width: 100%;}
.descricao_texto_conteudo table tr:nth-child(odd){background-color: #f1f1f1 !important;}
.descricao_texto_conteudo table tr td{padding: 8px 10px !important;}
.descricao .descricao_texto{clear: both; font-size: 16px; line-height: 24px; padding: 20px; box-sizing: border-box; border-color: #e6e6e6; background: #FFF; border-style: solid; border-width: 1px; float: left; overflow: hidden; width: 100%;}
.descricao .descricao_texto img{max-width: 100%;}
.product-descriptions-content::after{content: ""; display: block; width: 100%; clear: both}
.product-descriptions-content h2{padding: 0px 0px 15px 0px !important; font-size: 36px !important; font-weight: 500 !important; color: $colorPrimary !important;}
.product-descriptions-content h5{color: $colorPrimary !important; padding: 15px 0px 15px 0px !important; font-weight: normal !important;}
.product-descriptions-content p{padding: 0px 0px 15px 0px !important; color: $colorQuinary; font-weight: 400; margin: 0; opacity: .9; font-size: 14px; line-height: 22px;}

/* Produtos Relacionado */
.relatedProducts{text-align: left}
.relatedProducts .product-variants-bt-buy{font-size: 13px; line-height: 20px; padding: 1.1rem 2.4rem; margin-top: 10px;}
.relatedProducts .js--collection-ul{width: 95%; margin: 0 auto;}
.relatedProducts .js--collection-ul .collection-li{box-sizing: border-box; display: inline-block; min-width: auto; max-width: none; padding: 0 1rem; white-space: normal; margin-bottom: 0}
.relatedProducts .product-buy .spin{width: 60px; height: 45px; border-color: #f4f4f4;}
.relatedProducts .product-buy .spin select#product-quantity{background: #f4f4f4;}
.relatedProducts .product-buy .spin select{border: 0; height: 44px; background: #f4f4f4;}
.relatedProducts .product-buy .spin #product-quantity-input{display: none; background: #f4f4f4;}
.relatedProducts .slick-track{margin-left: 0;}

/* Compre Junto */

/*.bundles{clear: both; display: block; overflow: hidden; text-align: left; padding: 2rem 0}
.bundles ul{overflow: hidden}
.bundles ul li, .bundle-products{display: block; list-style: none}
.bundle-products{box-sizing: border-box; padding-right: 1.5rem; max-width: 994px; min-width: 600px}
.bundle-product{min-width: 130px; margin: 0 1rem 0 0; padding: 0 2rem 0 1rem; border-right: 1px solid #cccccc; position: relative; box-sizing: border-box}
.bundle-product.bundle-product-main{position: relative; padding: 0 2rem}
.bundle-product.bundle-product-main .bundle-product-select{opacity: 0}
.bundle-product:after{background: $colorPrimary; width: 28px; height: 28px; border-radius: 50%; position: absolute; top: 50%; margin-top: -14px; right: -14px; content: "+"; color: #FFFFFF; font-weight: bold; text-align: center; display: block; font-size: 3rem}
.bundle-product-extra:last-of-type .bundle-product{border-right: 0}
.bundle-product-extra:last-of-type .bundle-product:After{content: "="; right: -39px}
.bundle-product-image{max-width: 220px; min-width: 195px; margin: 0 auto; clear: both}
.bundle-product-image img{height: auto; width: 100%}
.bundle-product-extra .heading-primary{display: none; position: absolute; top: 0; left: 0; margin-top: 2rem; line-height: 0; text-align: left; z-index: -1}
.bundle-product-main+.bundle-product-extra .heading-primary{display: block}
.bundle-product-extra .heading-primary h2{background: #fff; padding: 0 1rem}
.bundle-product-extra .heading-primary:after{content: ""; width: 700px; position: absolute; left: 100%; border: 2px solid #000}
.bundle-product-select{font-size: 1.1rem; height: 2.4rem; width: 2.4rem; border: 1px solid #b7b7b7; padding: 0; text-align: center; float: right; margin-right: -1rem; display: block; cursor: pointer}
.bundle-product-select label{font-size: 0; line-height: 0}
.bundle-product-select input, .bundle-product-select span{text-transform: uppercase; vertical-align: middle}
.bundle-product-select input{-webkit-appearance: button; background: #FFFFFF; width: 24px; height: 24px}
.bundle-product-select.selected input{background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEzIDEwIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiAjOWMzOwogICAgICAgIGZpbGwtcnVsZTogZXZlbm9kZDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggaWQ9ImNoZWNrIiBjbGFzcz0iY2xzLTEiIGQ9Ik0xMywyLjE5M0w0LjkxOSwxMCwyLjY0OCw3LjgwNSwyLjY1Niw3LjgsMCw1LjIzLDIuMjcxLDMuMDM2LDQuOTI3LDUuNmw1LjgtNS42WiIvPgo8L3N2Zz4K") no-repeat center}
.bundle-product .collection-product-name{height: 3rem; font-size: 1.5rem; padding-top: 2rem; margin-bottom: 1.5rem; font-weight: normal}
.bundle-product .collection-product-price-content{height: 8.5rem; padding-bottom: .5rem}
.bundle-product-variants{margin: 0 0 .5rem; height: 4rem}
.bundle-product-variants select{margin: .5rem 0}
.bundle-product-quantity{line-height: 3.6rem; margin: 0 auto; position: relative; width: 10rem; text-align: center}
.bundle-product-quantity input{max-width: 50px; text-align: center}
.bundles .spin-bt{display: block; margin-top: -8px; position: absolute; top: 50%}
.bundles .spin-bt svg{width: 16px; height: 16px; vertical-align: top}
.bundles .spin-add{right: 0}
.bundles .spin-remove{left: 0}
.bundle-more{color: #9ec85d; float: left; font-size: 17px; font-weight: bold; margin: 90px 7px 0 7px}
.bundle-infos{box-sizing: border-box; min-width: 130px; max-width: 280px; padding: 2rem; background-color: #f4f4f4;}
.bundle-item-list{display: inline-block; margin: 2rem 0 0}
.bundle-infos .bundle-names-content>.bundle-product-name{font-weight: bold; margin: 0; font-size: 1.6rem; line-height: 2rem; overflow: hidden; max-height: 100px}
.bundle-product-name{display: block; font-size: 1.4rem; line-height: 1.8rem;}
.bundle-product-more{float: left; clear: left; vertical-align: top; width: 8px; height: 8px; padding: .3rem; margin: 0 1rem 0 1.5rem; fill: $colorQuaternary}
.bundle-price-saved{font-size: 1.6rem; font-weight: bold}
.bundle-price{display: block; font-size: 2.4rem; font-weight: bold; padding: .5rem 0}
.bundle-bt{margin-top: 2rem}*/

/* COMPRE JUNTO 2.0 */
.compreJunto{padding: 5rem 0;}
.bundles-infos{background: #eee !important; border: 10px solid #fff;}
.bundles-product-variants{margin-top: 2em;}
.bundles-product-variants select{display: block; width: 100%; box-sizing: border-box; border: none; background: #eee; padding: 10px; border-radius: 10px;}
.bundles .box-bt-comprar{display: inline-block; padding: 1rem 2.4rem; font-size: 16px; font-weight: bold; line-height: 20px; text-transform: uppercase; background: $colorSecondary; border-radius: 6px; color: #fff;}
.collection-product-discountPercent{display: none;}
.bundles-discountPercent{position: absolute; top: 5px; right: 5px; background: #eee; color: $colorPrimary; font-size: 10px; width: 30px; height: 30px; text-align: center; line-height: 30px; border-radius: 4px;}
.recommendations-saved span{color: $colorSecondary; font-size: 18px; display: block;}
.recommendations-saved strong{color: $colorSecondary; font-size: 20px; display: block; margin-bottom: 30px;}
.recommendations-payInFullPrice span{color: $colorPrimary; font-size: 18px; display: block;}
.recommendations-payInFullPrice strong{color: $colorPrimary; font-size: 22px; display: block;}
.bundles-quantity .add-quant{width: 60px; border: 0; text-align: center; padding: 12px 7px; font-size: 16px; border-radius: 5px;}
.bundles-quantity .add-mais-menos, .bundles-quantity .add-quant{display: inline-block; vertical-align: middle;}
.bundles-quantity .spin-remove, .bundles-quantity .spin-add{display: inline-block; font-size: 29px; line-height: 20px; cursor: pointer; width: 26px; text-align: center;}
.bundles-quantity{display: none !important;}
.bundles .recommendations-bt{text-align: center; margin-top: 30px;}
.bundles-product, .bundles-product-others, .bundles-infos{display: inline-block; vertical-align: top; text-align: center; width: 17.8%; margin: 0 1% 2em 1%; background-color: #fff; padding: 1em; box-sizing: border-box; border-radius: 4px; box-sizing: border-box; -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);}
.bundles-product .titulo, .bundles-product-others .titulo{margin: 0; font-size: 12px; line-height: 15px; height: 45px; overflow: hidden; margin-bottom: 10px;}
.bundles-product-image{text-align: center;}
.bundles-product-image img, .bundles-product img{width: 100%; max-width: 200px;}
.bundlesOff{position: absolute; background: $colorSecondary; color: #FFF; padding: 3px 7px; font-size: 12px; border-radius: 10px;}
.bundles-product-others{border-bottom: 1px solid #e5e5e5; margin-bottom: 10px; position: relative;}
.bundles-product-others:before{content: '+'; display: block; width: 30px; height: 30px; background: #ccc; font-size: 24px; line-height: 30px; color: #fff; font-weight: bold; text-align: center; position: absolute; z-index: 90; left: -28px; top: 50%; margin-top: -15px; border-radius: 100%;}
.bundles-product-others .collection-productInstallments > span{color: #535353; text-align: center;}
.bundles-product-others span.collection-product-adjustedPrice{color: #6d6d6d;}
.bundles-product-others del.ng-binding.ng-scope, .bundles-product-principal del.ng-binding.ng-scope{display: inline-block;}
.bundles-product-others .collection-product-payInFullPrice b, .bundles-product-principal .collection-product-payInFullPrice b{color: $colorPrimary; font-size: 20px;}
.bundles-product-others .collection-product-payInFullPrice{}
.bundles-product-others .collection-productInstallments > span > span{color: #6d6d6d;}
.bundles-product-content{}
.bundles-product-content, .bundles-quantity, .bundles-select{display: inline-block; vertical-align: middle;}
.bundles-select{position: absolute; left: 0; top: 0; display: block;}
.control{cursor: pointer;}
.control input[type="checkbox"]{display: none;}
.control__indicator{position: absolute; top: 5px; left: 5px; width: 22px; height: 22px; border: 2px solid #ddd; border-radius: 4px;}
.control input:checked ~ .control__indicator{background: $colorSecondary; border-color: $colorSecondary;}
.control input:checked ~ .control__indicator:after{display: block;}
.control--checkbox .control__indicator:after{top: 4px; left: 7px; width: 4px; height: 10px; transform: rotate(45deg); border: solid #fff; border-width: 0 2px 2px 0;}
.control__indicator:after{position: absolute; content: '';}
.recommendations-price{display: none;}

/* Avaliar */

/*Comentarios/Avaliar*/

.comentarios_avaliar{clear: both; overflow: hidden; width: 100%; margin: 5rem auto;}
.comentarios_avaliar_conteudo{width: 100%; text-align: left;}
.comentarios_avaliar_titulo h2{text-indent: -9999px; width: 140px; height: 13px;}
.comentarios_avaliar_conteudo .heading-secondary:after{display: none !important;}
.comentarios_avaliar_abas li.heading-tabs a{border-bottom: 3px solid $colorPrimary; color: #444444;}
.container-preco-comprar{display: inline-block; width: 40%; vertical-align: middle;}
.container-preco-comprar:after{content: ''; display: block; clear: both;}
.avaliar-seals{display: inline-block; vertical-align: middle; margin-right: 2rem;}
.avaliacao .ir_avaliar{color: #999; font-size: 12px; display: block;}
.avaliar{margin-top: 20px; overflow: hidden;}
.avaliar_conteudo{width: auto;}
.formAvaliacao{display: inline-block; width: 40%; vertical-align: top;}
.avaliar_conteudo .info{float: left; font-size: 12px; margin: 0;}
.avaliar_conteudo fieldset{border: medium none; padding: 10px;}
.avaliar_conteudo fieldset label{float: left; font-size: 15px; margin-bottom: 10px; width: 49% !important;}
.avaliar_conteudo fieldset label.checkbox{font-weight: normal; width: 99% !important; display: none;}
.avaliar_conteudo fieldset .avaliar_estrelas{display: inline-block; width: 18%; font-size: 15px; text-align: center; vertical-align: top;}
.avaliar_conteudo fieldset label input[type=text]{border: 1px solid #DDD; font-size: 14px; margin-top: 2px; padding: 8px 10px; width: 90%;}
.avaliar_conteudo fieldset label.checkbox input{border: medium none transparent; color: #585858; font-size: 11px; margin-right: 5px; margin-top: 0; padding: 0; vertical-align: middle; width: auto;}
.avaliar_conteudo fieldset label.checkbox span{vertical-align: middle;}
.avaliar_conteudo fieldset label textarea{border: 1px solid #DDD; color: #585858; font-size: 14px; margin-top: 2px; padding: 8px 10px; width: 95%;}
.avaliar_conteudo .avaliacao_estrela{clear: both; display: block; list-style: none outside none; margin: 15px 0 0; text-decoration: none; text-align: center;}
.avaliar_conteudo .avaliacao_estrela li{cursor: pointer; display: inline-block;}
.avaliar_conteudo .avaliacao_estrela li img{padding-right: 5px; width: 20px;}
.avaliar_conteudo .avaliar_sucesso{color: #008000; margin: 20px 10px;}
.avaliar_conteudo .avaliar_erro{color: #FF0000; margin: 20px 10px;}
.avaliar_conteudo fieldset label.bt-send-avaliar{display: block; width: 100% !important;}
.avaliar_conteudo fieldset label.bt-send-avaliar a{display: inline-block; padding: 0 40px; margin-top: 20px; height: 50px; line-height: 50px; font-size: 18px; text-transform: uppercase; background: $colorSecondary; color: #FFF; font-weight: 600; border-radius: 10px; -webkit-transition: 0.15s ease-in-out; -moz-transition: 0.15s ease-in-out; -o-transition: 0.15s ease-in-out; transition: 0.15s ease-in-out;}
.avaliar_conteudo fieldset label.bt-send-avaliar a:hover{background: $colorPrimary; -webkit-transition: 0.15s ease-in-out; -moz-transition: 0.15s ease-in-out; -o-transition: 0.15s ease-in-out; transition: 0.15s ease-in-out;}
#ProdutoAvaliar1{display: block;}
.comentarios_realizados li{margin: 25px 0;}
.comentarios_realizados li div img{width: 12px; margin: 0 2px}
.comentario_content p{font-size: 14px;}
.comentario_content h2{font-size: 14px; margin: 3px 0;}

/* Extra */
.product-extra{background-color: #000; font-size: 0}
.product-extra a{display: inline-block; font-size: 1.8rem; color: #fff; padding: 1rem 5rem; margin: 1rem 0; border-left: 1px solid #4d4d4d; box-sizing: border-box; transition: .2s}
.product-extra a:hover{background-color: #4d4d4d}
.product-extra a:first-child{border: none}

/* Usuario Logado/Deslogado */
.deslogado .box-logado{display: none;}
.logado .box-deslogado{display: none;}
.box-deslogado p{font-size: 16px; line-height: 18px; margin-bottom: 15px;}
.box-deslogado .bt-logar-produto{font-size: 16px; font-weight: 500; color: #fff; background: $colorPrimary; padding: 18px 70px; text-transform: uppercase; text-align: center; display: inline-block; border-radius: 8px;}
@media only screen and (min-width:991px) {
    .product-top{margin: 1rem 0 0; width: 100%;}
    .js--product-top-left{width: 560px;}
    .js--product-top-right{-webkit-animation: .3s fade; animation: .3s fade; max-width: 650px; padding: 2.5rem 3.5rem; border: 1px solid #eee; box-sizing: border-box; border-radius: 10px;}
    .product-name{margin: 0 0 20px; font-size: 28px; line-height: 30px; font-weight: 400;}
    .product-price-container{padding: 20px 0 0;}
    .product-price-box > #divPrecoProduto{}
    .product-variant-content .product-heading{font-weight: normal; font-size: 16px; line-height: 16px;}
    .product-buy{width: 100%;}
    .product-variants-bt-buy{}
    .product-shipping{margin: 30px 0 0;}
    .product-shipping svg{width: 55px; height: 38px;}
    .product-shipping label:nth-of-type(1){width: 115px; padding: 0 30px; margin-bottom: 0;}
    .product-shipping label:nth-of-type(2){width: calc(100% - 95px - 135px);}
    .product-shipping-title{width: 100%;}
    .product-shipping-title .searchCEP{line-height: 20px; margin-top: 5px;}
    .product-shipping-input{width: 100%;}
    /*.product-share{margin: 35px 0 0;}*/
    .product-share a:hover{opacity: .5}
    .product-descriptions-content h2{font-size: 36px; line-height: 40px;}
    .product-descriptions-content h5{font-size: 18px; line-height: 24px;}
    .relatedProducts .js--collection-ul .collection-li{width: 25%}
    .product-image-big{margin: 0; width: 100%; /*width: calc(100% - 100px);*/ max-height: 600px; overflow: hidden;}
    .product-image-small, .product-image-small-content{width: 85px; margin-right: 15px;}
    /*.product-share .product-heading{font-size: 14px; line-height: 20px;}*/
    .comentarios_avaliar_abas ul{list-style: none outside none; height: 30px; border-bottom: 1px solid #e0e0e0; margin: 0 0 2em 0 !important; padding: 0;}
    .comentarios_avaliar_abas li{float: left; position: relative; z-index: 10;}
    .comentarios_avaliar_abas li a{display: block; font-size: 16px; line-height: 30px; padding: 0 15px; text-decoration: none; background: transparent; color: #888; border-bottom: 3px solid #ccc;}
    .comentarios_avaliar_abas li.heading-tabs a{border-bottom: 3px solid $colorPrimary; color: #444444;}
    .comentarios_avaliar_abas li a.selecionado{background: none repeat scroll 0 0 #0F3B69; color: #FFF;}
    .comentarios_avaliar_abas .heading-secondary:before{top: 31px;}
}
@media only screen and (min-width:1141px) {
    .js--product-top-right{width: calc(100% - 560px);}
}
@media only screen and (min-width:991px) and (max-width:1140px) {
    .js--product-top-right{width: calc(100% - 560px); margin-left: 20px;}
}
@media only screen and (max-width:990px) {
    .product-top{margin: 0 0 20px}
    .product-name{margin: 2.5rem 0 0; font-size: 18px; line-height: 24px; font-weight: bold;}
    .avaliacao{float: none;}
    .product-bottom .heading-quinary h1, .product-bottom .heading-quinary h2, .product-bottom .heading-quinary h3{font-size: 2.2rem; line-height: 2.4rem;}
    .oldPrice-parcels, .product-price-featuredPrice{display: block !important; width: 100%; text-align: center;}
    .oldPrice-parcels{padding-top: 20px;}
    .product-price-featuredPrice{padding-top: 5px;}
    .product-price{font-size: 36px;}
    .product-price-container{padding: 20px 0;}
    .product-price-box > #divPrecoProduto{width: 100%;}
    .product-variant-content .product-heading{font-size: 18px; line-height: 24px; margin-bottom: 5px;}
    .product-buy{width: 100%;}
    .product-shipping{margin: 30px 0 0; padding-top: 25px; border-top: 1px solid #ddd; display: block;}
    .product-shipping fieldset{text-align: center}
    .product-shipping svg{width: 34px; height: 34px; vertical-align: top; margin-right: 20px;}
    .product-shipping label{width: 120px; vertical-align: top;}
    .product-shipping label.product-shipping-input{width: 100%; text-align: center; padding-top: 10px;}
    .product-shipping input{width: 150px}
    .product-shipping-input .bt-calcularFrete{background: $colorSecondary; color: #fff;}
    .avaliar-seals{margin: 25px 0 0 0; display: inline-block; vertical-align: middle; width: 100%;}
    .product-promos{justify-content: center}
    .product-promo{margin: 0 .5rem 1rem}
    .product-share{margin-top: 10px; padding-top: 30px; border-top: 1px solid #ddd; text-align: center;}
    #descricao{}
    .product-descriptions-content{padding: 0}
    ul.produto_abas li{margin: 0; box-sizing: border-box;}
    ul.produto_abas li.heading-tabs a, ul.produto_abas li a{margin: 0; width: 100%; box-sizing: border-box; border-radius: 0; font-size: 18px;}
    ul.produto_abas li a.heading-tabs{border-bottom: 0;}
    .product-extra a{border-left: none; border-right: none; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #4d4d4d; padding: 1.5rem}
    .product-extra a:first-child, .product-extra a:last-child{border: none}
    .product-image-big{width: 100%;}
    .product-image-small{display: none;}
    /*.product-share .product-heading{font-size: 13px; line-height: 13px; text-align: center;}*/
    .product-descriptions-content h2{font-size: 28px; line-height: 30px;}
    .product-descriptions-content h5{font-size: 16px; line-height: 20px;}
    .relatedProducts .js--collection-ul .collection-li{width: 82%; padding: 0; margin: 0;}
    .relatedProducts .product-variants-bt-buy{padding: 1.1rem 2.4rem; width: calc(100% - 3% - 60px);}
    .comentarios_avaliar_abas ul{margin: 0 !important; text-align: left !important; padding: 0 0 5px 0; border: 0;}
    .comentarios_avaliar_abas ul li{margin-bottom: 0 !important; margin-left: 0 !important;}
    .comentarios_avaliar_abas ul li.heading-tabs a{font-weight: bold; color: $colorPrimary; border: 0;}
    .comentarios_avaliar_abas li a{font-size: 14px; padding: 0 10px;}
    .formAvaliacao{width: 100%; display: block;}
    .avaliar_conteudo fieldset{padding: 0 !important;}
    .avaliar_conteudo fieldset label{margin-bottom: 1em; display: block; padding: 0 0.5em; box-sizing: border-box;}
    .avaliar_conteudo fieldset label:nth-child(1), .avaliar_conteudo fieldset label:nth-child(2){width: 100% !important; float: none;}
    .avaliar_conteudo fieldset label input, .avaliar_conteudo fieldset label textarea{width: 100% !important;}
    .avaliar_conteudo fieldset .avaliar_estrelas{display: block; width: 100%;}
    .bundles-infos, .bundles-product, .bundles-product-others{width: 22.8%;}
    .bundles-product-others:before{left: -24px;}
}
@media only screen and (max-width:768px) {
    .bundles-infos, .bundles-product, .bundles-product-others{width: 31%;}
    .bundles-product-others:before{left: -22px;}

    /* Kits*/
	.kits_itens li{float: none; width: 100%; margin: 10px 0 0 0;}
}
@media only screen and (max-width:480px) {
    .product-variant a.variante_texto_disponivel, .product-variant a.variante_texto_indisponivel{padding: 15px;}
    ul.produto_abas li a{font-size: 14px;}
    .bundles-infos, .bundles-product, .bundles-product-others{width: 100%; display: block; margin: 0; margin-bottom: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: 1px solid #eee; border-radius: 0;}
    .bundles-product-others:before{left: 50%; margin-left: -15px; top: 0;}
}
@media only screen and (max-width:360px) {
    .product-shipping-title{width: 100%; margin: 0 0 1rem 0;}
    .product-shipping-title .product-heading, .product-shipping-title .searchCEP{display: inline-block; vertical-align: middle; padding: 0; font-size: 11px;}
    .product-shipping-title .product-heading{margin-right: 10px; font-size: 15px;}
    .product-shipping-input{width: 100%;}
}
