.quickView-product{
    font-size: 0;
}

.quickView-product-product-left{
    width: 20%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

.quickView-product-product-right{
    width: 74%;
    display: inline-block;
    vertical-align: top;    
}

.quickView-product .product-variant-box{
    margin-top: 20px;
}

.quickView-product .product-image-small, .quickView-product .product-image-small-content{
    width: 55px;
}

.quickView-product .product-image-small{
    display: none;
}

.quickView-product .product-image-big{
    width: auto;    
}

@media only screen and (min-width: 991px){
    .quickView-product .product-name {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
    }
}