.search-query small {
    text-transform: none;
    color: $colorPrimary;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-left: .3rem
}

.search-query.heading-quinary:after {
    margin: 1rem 0 1.5rem
}

.collection-description-dept {
    color: $colorSecondary;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 300;
    margin: 1rem 0;
    text-align: left
}

@media only screen and (max-width: 990px) {

    .search-query.heading-quinary h1, .search-query.heading-quinary h2, .collection-top .search-query.heading-quinary h3 {
        line-height: 2.6rem
    }
        
}