.slick-slider{position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent}
.slick-list{position: relative; display: block; overflow: hidden; margin: 0; padding: 0}
.slick-list:focus{outline: 0}
.slick-list.dragging{cursor: pointer; cursor: hand}
.slick-slider .slick-list, .slick-slider .slick-track{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0)}
.slick-track{position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto}
.slick-track:after, .slick-track:before{display: table; content: ''}
.slick-track:after{clear: both}
.slick-loading .slick-track{visibility: hidden}
.slick-slide{display: none; float: left; height: 100%; min-height: 1px}
[dir=rtl] .slick-slide{float: right}
.slick-slide img{display: block; margin: 0 auto}
.slick-slide.slick-loading img{display: none}
.slick-slide.dragging img{pointer-events: none}
.slick-initialized .slick-slide{display: block}
.slick-loading .slick-slide{visibility: hidden}
.slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent}
.slick-arrow.slick-hidden{display: none}

/*# sourceMappingURL=slick.min.css.map */
@charset 'UTF-8';
.slick-loading .slick-list{background: #fff url(ajax-loader.gif) center center no-repeat}
@font-face{font-family: slick; font-weight: 400; font-style: normal; src: url(fonts/slick.eot); src: url(fonts/slick.eot?#iefix) format('embedded-opentype'), url(fonts/slick.woff) format('woff'), url(fonts/slick.ttf) format('truetype'), url(fonts/slick.svg#slick) format('svg')}
.slick-next, .slick-prev{font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: 0; background: 0 0}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{color: transparent; outline: 0; background: 0 0}
.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before{opacity: 1}
.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before{opacity: .25}
.slick-next:before, .slick-prev:before{content: ""; display: block; width: 20px; height: 20px; background-position: 0 0; background-repeat: no-repeat;}
.slick-prev{left: -25px}
[dir=rtl] .slick-prev{right: -25px; left: auto}
.slick-prev:before{background-image: url('../imagens/sprite.svg#toLeft-view');}
[dir=rtl] .slick-prev:before{background-image: url('../imagens/sprite.svg#toLeft-view');}
.slick-next{right: -25px}
[dir=rtl] .slick-next{right: auto; left: -25px}
.slick-next:before{background-image: url('../imagens/sprite.svg#toRight-view');}
[dir=rtl] .slick-next:before{background-image: url('../imagens/sprite.svg#toRight-view');}
// .slick-dotted.slick-slider{//     margin-bottom: 30px
//}
.slick-dots{position: absolute; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center}
.slick-dots li{position: relative; display: inline-block; height: 10px; margin: 0 5px; padding: 0; cursor: pointer;}
.slick-dots li button{font-size: 0; line-height: 0; display: block; width: 100%; height: 100%; padding: 0; cursor: pointer; color: transparent; border: 0; outline: 0; background: 0 0;}
.slick-dots li button:focus, .slick-dots li button:hover{outline: 0}
.slick-dots li button:focus:before, .slick-dots li button:hover:before{opacity: 1}
.slick-dots li button:before{content: ""; position: absolute; top: 0; left: 0px; width: 9px; height: 9px; -webkit-font-smoothing: antialiased; border: 1px solid #007943; background: $colorPrimary; border-radius: 100%;}
.slick-dots li button:before{font-size: 0; background: #FFFFFF;}
.slick-dots li.slick-active button:before{background: $colorPrimary;}
@media only screen and (min-width:991px) {
    .slick-dots li{width: 10px;}
    .slick-dots{bottom: -20px;}
}
@media only screen and (max-width:990px) {
    .slick-dots li{width: 20px;}
}
@media only screen and (min-width:361px) and (max-width:990px) {
    .slick-dots{bottom: 10px;}
}
@media only screen and (max-width:360px) {
    .slick-dots{bottom: 5px;}
}

/*# sourceMappingURL=slick-theme.min.css.map */
