
#upTimer.active {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

#upTimer .countdown {
    position: relative;
    margin: 0 auto
}

#upTimer .countdown a,
#upTimer .countdown a img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1
}

#upTimer #countdownTimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    line-height: 22px;
    position: relative;
    z-index: 1
}

#upTimer #countdownTimer span {
    display: inline-block;
    font-size: calc(1.2rem + .4vw);
    font-weight: normal
}

#upTimer #countdownTimer strong {
    font-size: calc(1.4rem + .4vw)
}

@media only screen and (min-width: 990px) {
    #upTimer.active {
        margin: 2rem auto
    }
    #upTimer.active+main.box-content {
        margin-top: 1rem
    }
    #upTimer .countdownTimer-responsive {
        position: absolute;
        top: 0
    }
    #upTimer .countdownTimer-imgContent {
        height: 100%;
        width: calc(100% - calc(20.15% - 20px))
    }
    #upTimer .countdownTimer-responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%
    }
    #upTimer .countdownTimer-timerContent {
        height: 100%;
        width: calc(20.15% - 20px);
        color: black;
        max-width: 250px;
        text-align: center;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center
    }
}

@media only screen and (min-width: 990px) and (max-width: 1239px) {
    #upTimer .countdownTimer-responsive {
        left: 0
    }
}

@media only screen and (min-width: 1240px) {
    #upTimer .countdownTimer-responsive {
        left: 50%;
        margin-left: -620px;
        max-width: 1240px
    }
}

@media only screen and (max-width: 989px) {
    #upTimer.active {
        margin: 2rem auto
    }
    #upTimer.active+main.box-content {
        margin-top: .5rem
    }
    #upTimer .countdownTimer-timerContent {
        position: absolute;
        top: 1.8vw;
        right: 1.8vw;
        max-width: 100%
    }
    #upTimer #countdownTimer {
        line-height: 18px
    }
    #upTimer #countdownTimer span {
        font-size: calc(14px + .5vw)
    }
    #upTimer #countdownTimer strong {
        font-size: calc(14px + 1vw)
    }
}