$colorPrimary: #27376D; //verde
$colorSecondary: #009877; //verde claro
$colorTertiary: #92CFA9; //verde claro
$colorQuaternary: #006C53; //verde forte
$colorQuinary: #444444; //
$colorSenary: #66BAAE; //verde mais claro
$colorSeptenary: #009776; //verde menu

$colorGoCheckout: #27376D;

$fontPrimary: "Lato", Arial, sans-serif;
$fontSecondary: "Lato", Arial, sans-serif;

$sprite: "";