@charset "UTF-8";
/* Geral */
.header-navbar div::before {
  background-image: url("/imagens/sprite.png?v11") !important;
}

.header-navbar .header-orders::before {
  background-position: -350px -50px;
  width: 22px;
  height: 20px;
}

#conteudo {
  width: 990px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

.conteudo_afiliado_principal {
  display: inline-block;
}

ul.subtitulo_afiliados {
  margin: 10px 0 0 0;
}

.box-bt {
  padding: 8px 15px;
  display: inline-block;
  margin: 0 3px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  color: #ffffff;
}

.box-bt-filtro {
  padding: 5px 15px;
}

.btn-primario {
  background: #e63a3b;
}

.btn-secundario {
  background: #E63A3B;
}

.btn-ternario {
  background: #f47710;
}

.heading-tertiary {
  margin: 10px 0;
  background: #eee;
  padding: 10px 15px;
}

.afiliados_ajuda {
  margin: 25px 0 0 0;
}

/* Como Funciona */
#header-afiliados {
  height: 100px;
  width: 100%;
  background: #040404;
}

.header-afiliado-login a {
  font-weight: normal;
  line-height: 16px;
  margin: 20px 10px;
  padding: 10px 15px;
}

.header-afiliado-login a strong {
  display: block;
}

.bt-goTo-afiliados {
  margin: 0 auto;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  padding: 15px 80px;
  margin-top: 15px;
}

.bt-goTo-afiliados strong {
  display: block;
  font-size: 27px;
}

/* Página de Identificacao */
.checkoutHeader-step {
  position: absolute;
  top: 28px;
  right: 0;
  width: 480px;
  height: 60px;
  z-index: 9998;
  display: none;
}

.step-identification .checkoutHeader-step {
  background-position: -402px -600px;
  display: block;
}

.step-bank .checkoutHeader-step {
  background-position: -402px -700px;
  display: block;
}

/* Afiliados Header */
#header {
  position: initial;
  height: 210px;
}

.header-logo {
  position: absolute;
  left: 0;
  top: 15px;
  width: 237px;
  height: 72px;
  background-position: 0 0;
}

.header-menu-li {
  margin: 0 15px;
}

.header-menu-a::after {
  display: none;
}

.header-logo a, .header-fixedLogo a {
  width: 100%;
  height: 100%;
  display: block;
}

.header-h1 {
  position: absolute;
  top: 90px;
  right: 0;
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
}

.header-top {
  background: #efefef;
  overflow: hidden;
  color: #3c3838;
  line-height: 44px;
  position: relative;
  z-index: 9997;
}

.header-middle {
  height: 110px;
  background: #040404;
  position: relative;
  z-index: 9997;
}

.header-content {
  width: 990px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.header-menu-content {
  margin: 0 auto;
  display: table;
  width: initial;
}

.header-menu-li:hover .header-menu-subMenu, .header-menu-allDepartments:hover .header-menu-subMenu {
  display: block;
}

.header-links {
  float: right;
}

.header-links a {
  padding: 0 7px;
  border-left: 1px solid #fff;
  text-transform: none;
}

.header-links a:first-child::before {
  content: initial;
}

.header-links a:first-child {
  border: none;
}

.header-greeting {
  float: left;
}

/* Afiliados Principal Logado */
.informacoes_conta {
  margin: 5px 0;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.informacoes_conta .informacoes_esq, .informacoes_conta .informacoes_dir {
  width: 340px;
  margin: 0 15px;
  padding: 10px;
}

.informacoes_conta .informacoes_esq {
  float: left;
}

.informacoes_conta .informacoes_dir {
  float: right;
}

.informacoes_conta strong {
  display: block;
  font-size: 12px;
  padding: 5px 0 0;
  color: #666666;
}

.informacoes_conta span {
  color: #000;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
}

.informacoes_conta .bt_editar_conta {
  float: right;
  clear: both;
}

#painel_afiliados {
  height: auto;
  margin-top: 40px;
}

#painel_afiliados .coluna_esq_afiliados {
  float: left;
  margin-right: 20px;
  width: 282px;
  background: #2c2a2a;
  margin-top: 0;
}

.coluna_esq_afiliados h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #e63a3b;
}

.coluna_esq_afiliados .primeiros_passos {
  padding: 0 9px;
}

.coluna_esq_afiliados .primeiros_passos_container {
  margin-bottom: 6px;
  padding: 10px 0;
}

.coluna_esq_afiliados .primeiros_passos textarea, .coluna_esq_afiliados .primeiros_passos p {
  background: none repeat scroll 0 0 #fff;
  color: #5a5a5a;
  border: 0 none;
  font-size: 12px;
  overflow: auto;
  padding: 14px 9px;
  resize: none;
}

.primeiros_passos textarea.inicial {
  height: 45px;
  width: 244px;
}

.primeiros_passos textarea.departamento {
  width: 244px;
  height: 56px;
}

.primeiros_passos textarea.produto {
  width: 244px;
  height: 85px;
}

.primeiros_passos .primeiros_passos_container h6 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0 2px 0;
  text-transform: uppercase;
}

.conteudo_afiliados {
  float: right;
  height: auto;
  width: 640px;
}

.opcoes_afiliados {
  margin: 0px 0 25px;
  padding: 10px;
  background: #efefef;
}

.opcoes_afiliados_img {
  float: left;
  margin-right: 20px;
  padding: 10px 0;
  width: 77px;
  height: 60px;
}

.opcoes_afiliados h5 {
  display: block;
  font-size: 14px;
  padding: 5px 0 0;
  font-weight: normal;
}

.opcoes_afiliados ul {
  list-style: none outside none;
  padding: 5px 0;
}

.opcoes_afiliados ul li {
  font-size: 12px;
  line-height: 16px;
}

.opcoes_afiliados h5, .opcoes_afiliados ul li {
  color: #2c2a2a;
}

.opcoes_afiliados .bt_opcoes_gerenciar {
  clear: both;
  margin-top: 15px;
  text-align: right;
}

/* Afiliados Banners */
.afiliados_conteudo-banners ul {
  text-align: center;
}

.afiliados_conteudo-banners ul li {
  margin: 10px 0;
}

.afiliados_conteudo-banners {
  overflow: hidden;
  padding: 15px 0 0 0;
}

.afiliados_conteudo-banners li {
  list-style: none;
  margin: 10px 0;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.afiliados_conteudo-banners li:last-child {
  border: 0;
}

.afiliados_conteudo-banners li img {
  margin: 10px 0;
}

.afiliados_banner .afiliados_banner-shareUrl {
  color: #333;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.afiliados_banner .afiliados_banner-shareUrl .afiliados_banner-shareUrl-content {
  color: #000;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
}

.fa-facebook.jssocials-share-logo,
.fa-twitter.jssocials-share-logo,
.fa-whatsapp.jssocials-share-logo {
  font-size: 2.3em;
}

ul.subtitulo_afiliados li {
  text-align: justify;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

ul.subtitulo_afiliados li.afiliados-alert {
  text-align: center;
  font-size: 18px;
  padding: 20px 0 15px;
  text-decoration: underline;
  color: #b01819;
  font-weight: normal;
}

/* Afiliados Divulgação de E-mail */
.tit_label {
  color: #434343;
  margin-right: 5px;
  font-size: 13px;
}

.emails {
  margin: 40px auto 60px auto;
  width: 610px;
}

.esquerda_email {
  float: left;
  margin-right: 35px;
  margin-bottom: 20px;
}

.direita_email {
  float: left;
  margin-bottom: 20px;
}

.esquerda_email input {
  border: 1px solid #ccc;
  width: 230px;
  padding: 3px;
  color: #676767;
}

.direita_email input {
  border: 1px solid #ccc;
  width: 230px;
  padding: 3px;
  color: #676767;
}

.bt_mais_email {
  clear: both;
  margin: 10px 0;
  border-bottom: 2px solid #ccc;
  padding: 20px 0 10px;
}

.bt_enviar_email {
  clear: both;
  float: right;
}

/* Relatórios */
/* Relatório Geral */
#afiliados {
  margin-bottom: 20px;
}

.organizar_por {
  font-size: 11px;
  color: #555;
}

.afiliados_grafico {
  margin-top: 40px;
}

.afiliados_refinar {
  padding: 10px 5px 8px;
  margin-top: 15px;
  overflow: hidden;
}

.afiliados_refinar .afiliados_refinar_direita {
  float: right;
  margin-left: 5px;
}

.afiliados_refinar select {
  border: 1px solid #ccc;
  margin: 0 4px;
  color: #555;
}

.tab_afiliados {
  width: 970px;
  border-collapse: collapse;
  margin: 20px auto 0 auto;
  border-bottom: 1px solid #797979;
}

.tab_afiliados .center {
  text-align: center !important;
}

.tab_afiliados .afiliado-titulo th {
  background: none repeat scroll 0 0 #ccc;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 4px;
  text-align: center;
  text-transform: uppercase;
}

.tab_afiliados .afiliado-cliente td {
  padding: 10px 5px;
  border-top: 1px solid #ccc;
  color: #666;
  cursor: pointer;
}

.tab_afiliados .afiliado-cliente-pedidos td {
  padding-bottom: 10px;
}

.tab_afiliados .afiliado-cliente:hover {
  background: #F2F8FD;
}

.tab_afiliados .afiliado-cliente-pedidos .afiliado-cliente-sem-pedido {
  color: red;
  display: block;
  padding: 10px 0;
  text-align: center;
}

/* Afiliados Relatório de Clientes */
.afiliado-titulo-style-cliente {
  background: #F47710;
  color: #ffffff;
}

.tab_afiliados .afiliado-cliente-pedidos {
  display: none;
}

.tab_afiliados .afiliado-cliente-pedidos-tab {
  width: 98%;
  margin: 5px auto;
  background: none;
  border: 1px solid #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-selecionado {
  border: 1px solid #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido {
  cursor: pointer;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido td {
  padding: 10px 5px;
  font-weight: bold;
  color: #666;
  background: #FFF;
  text-align: center;
}

.tab_afiliados .afiliado-cliente-pedidos-tab.afiliado-cliente-pedido-selecionado .afiliado-cliente-pedido td {
  background: #FFF;
  color: #666;
  border-bottom: 1px solid #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido td strong {
  color: #FFF;
  margin-right: 2px;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido td.afiliado-numero-pedido {
  background: #59bc00;
  width: 120px;
  color: #FFF;
}

.tab_afiliados .afiliado-cliente-pedidos-tab.afiliado-cliente-pedido-selecionado .afiliado-cliente-pedido td.afiliado-numero-pedido {
  background: #59bc00;
  color: #FFF;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido td.afiliado-pedido-arrow {
  text-align: center;
  width: 20px;
  background: #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab.afiliado-cliente-pedido-selecionado .afiliado-cliente-pedido td.afiliado-pedido-arrow {
  background: #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos {
  display: none;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos td {
  background: #FFF;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos .afiliado-cliente-pedido-produtos-tab {
  width: 98%;
  margin: 10px auto;
  border: 1px solid #468f00;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos .afiliado-cliente-pedido-produtos-tab th {
  padding: 10px;
  background: #59bc00;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos .afiliado-cliente-pedido-produtos-tab td {
  padding: 10px;
  color: #666;
  text-align: center;
  border: 0;
  border-top: 1px solid #59bc00;
  background: #ffffff;
}

.tab_afiliados .afiliado-cliente-pedidos-tab .afiliado-cliente-pedido-produtos .afiliado-cliente-pedido-produtos-tab td a {
  color: #0666A4;
}

.tab_afiliados .afiliado-total td {
  padding: 10px 5px;
  border-top: 1px solid #F1F1F1;
  font-weight: bold;
}

.table-boxCep {
  background: #eaeaea;
}

/* Afiliados Relatório de Visitas */
.tab_relatorio {
  width: 100%;
  clear: both;
  margin-top: 20px;
}

.tab_relatorio tbody {
  border-bottom: 2px solid #92AEBE;
}

.tab_relatorio tbody th {
  background: none repeat scroll 0 0 #ccc;
  color: #5a5a5a;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 4px;
  text-align: center;
  text-transform: uppercase;
}

.tab_relatorio tbody tr td {
  padding: 6px 4px;
  color: #555;
  font-size: 12px;
  text-align: center;
}

.tab_relatorio tbody tr.cor1 td {
  background-color: #fff;
}

.tab_relatorio tbody tr.cor2 td {
  background-color: #f4f4f4;
}

/* Afiliados Relatório de Vendas */
.tabela-vendas .tab_afiliados .afiliado-titulo th {
  background: none repeat scroll 0 0 #ccc;
  color: #5a5a5a;
}

.tab_afiliados .afiliado-total td {
  padding: 10px 5px;
  border-top: 1px solid #797979;
  color: #434343;
  background: #F1F1F1;
  font-weight: bold;
}

/* Afiliados Cadastro */
.afiliados_dados_bancarios {
  padding: 10px 0 25px;
}

.termo_aceite {
  padding: 10px;
  border: 0 none;
}

.termo_aceite strong {
  font-weight: normal;
}

#sucesso {
  height: 300px;
  border: 2px solid;
  margin-top: 15px;
  padding: 0;
}

#sucesso .lista_sucesso {
  float: left;
  width: 590px;
  text-align: center;
  margin: 40px 0 0 70px;
}

#sucesso .lista_sucesso .heading-primary h2 {
  line-height: 28px;
  font-weight: 100;
  text-align: justify;
}

#sucesso .lista_sucesso .heading-primary h2 strong {
  font-size: 21px;
}

#sucesso .lista_sucesso a {
  border: 1px solid #cdc9c3;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  transition: .2s;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
  margin: 50px auto 0;
  text-align: center;
  padding: 20px 25px;
}

#sucesso .lista_sucesso a:hover {
  background: #000;
  color: #FFF;
}

.bt_direita {
  text-align: right;
  margin: 0 0 20px 0;
}

.bt_direita a {
  margin: 0 5px;
}

.formulario.afiliados_conteudo {
  clear: both;
  overflow: hidden;
  padding: 15px 0;
  width: auto;
}

.afiliados_conteudo fieldset * {
  vertical-align: middle;
}

.afiliados_conteudo fieldset {
  border: medium none;
  clear: both;
  color: #000000;
  display: block;
  font-weight: normal;
  margin: 10px 0 0;
  padding: 0 0 0 10px;
  width: 820px;
}

.afiliados_conteudo fieldset label {
  display: block;
  margin: 5px 0 0px 0px;
  color: #062A59;
  float: left;
  font-size: 13px;
}

.afiliados_conteudo fieldset.cep {
  background-color: #EFEFEF;
  width: 97%;
  padding: 10px 0 10px 10px;
}

.afiliados_conteudo fieldset.cep a {
  color: #0065A4;
  font-size: 11px;
  text-decoration: none;
}

.afiliados_conteudo fieldset.cep label {
  width: 97%;
  margin: 0;
}

.afiliados_conteudo fieldset.cep label input {
  width: 47%;
}

.afiliados_conteudo fieldset label input {
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 95%;
  height: 20px;
  font-size: 11px;
  color: #666;
}

.afiliados_conteudo fieldset label.width15 {
  clear: both;
  width: 40px;
}

.afiliados_conteudo fieldset label.width78 {
  width: 250px;
  margin-left: 10px;
}

.afiliados_conteudo fieldset label select {
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 95%;
  height: 20px;
  font-size: 11px;
  color: #666;
}

.afiliados_conteudo h4 {
  color: #0d2854;
  font-size: 17px;
  padding-bottom: 3px;
  border-bottom: 2px solid #0d2854;
}

.info {
  font-size: 11px;
  margin: 5px;
  text-align: right;
}

.formulario .list {
  padding: 7px 0;
  vertical-align: top;
}

.formulario label {
  font-size: 15px;
  position: relative;
  width: 100%;
}

.formulario .list .tit_label {
  clear: left;
  float: left;
  margin-right: 5px;
  padding: 4px 0;
  text-align: right;
  width: 244px;
  font-size: 16px;
}

.formulario .list input {
  font-size: 14px;
  margin: 0 3px;
  padding: 6px;
  vertical-align: middle;
  width: 250px;
}

.formulario .list .larg_100 input {
  width: 560px;
}

.formulario .list .larg_75 input {
  width: 200px;
}

.formulario .list .larg_50 input {
  width: 100px;
}

.formulario .list .larg_25 input {
  width: 30px;
}

.formulario .list .checkbox input {
  background: none repeat scroll 0 0 transparent;
  border: medium none transparent;
  height: auto;
  margin: 5px 3px;
  padding: 0;
  width: auto;
}

.formulario .list.radio label {
  margin-right: 15px;
  vertical-align: middle;
}

.formulario .list.radio input {
  background: none repeat scroll 0 0 transparent;
  border: medium none transparent;
  height: auto;
  margin: 0 3px;
  padding: 0;
  width: auto;
}

.formulario .list .confirm input {
  background: none repeat scroll 0 0 transparent;
  border: medium none transparent;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  width: auto;
}

.formulario .list select {
  font-size: 11px;
  margin: 0 3px;
  padding: 6px;
  vertical-align: middle;
  width: 200px;
}

.formulario .list textarea {
  border: 1px solid #CCCCCC;
  color: #666666;
  font-family: tahoma;
  font-size: 11px;
  height: 100px;
  margin: 0 3px;
  padding: 6px;
  vertical-align: middle;
  width: 300px;
}

.formulario .list.cep {
  margin: 10px 0;
  padding: 15px 0;
}

.formulario .list .erro {
  vertical-align: middle;
}

.formulario .list small {
  font-size: 11px;
}

.formulario .list small.contador input {
  border: medium none transparent;
  margin: 0;
  padding: 0;
  width: 25px;
}

.formulario a {
  font-size: 13px;
}

/* CSS Sprites */
.sprite-afiliados {
  background-image: url("../imagens/sprite-afiliados.png") !important;
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  text-align: left;
}

.sprite-icon_enviaremail {
  width: 76px;
  height: 35px;
  background-position: -59px -5px;
}

.sprite-icon_gerenciarbanner {
  width: 76px;
  height: 34px;
  background-position: -59px -50px;
}

.sprite-icon_gerenciarrelatoriclientes {
  width: 76px;
  height: 47px;
  background-position: -5px -94px;
}

.sprite-icon_gerenciarrelatoriovenda {
  width: 76px;
  height: 47px;
  background-position: -145px -5px;
}

.sprite-icon_gerenciarrelatoriovisitas {
  width: 76px;
  height: 47px;
  background-position: -145px -62px;
}

.afiliados_codigo {
  background: #a0000e;
  border-radius: 5px;
  color: #FFF;
  font-size: 17px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  font-weight: 100;
}

.afiliados_alert_url {
  font-size: 20px;
  color: #FFF;
}
