<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebAnalytics.ascx.cs"
    Inherits="CiaShop.Loja.Assets.Templates._1.ascx.WebAnalytics" %><%@ Register Assembly="Ciashop.Privada.Componente" Namespace="Ciashop.Privada.Componente.Loja" TagPrefix="CiaC" %><!-- <componente name="ciac:googleanalytics" id="GoogleAnalytics" /> -->