<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MeusPedidosImagem.aspx.cs" Inherits="CiaShop.Loja.Assets.Templates._1.MeusPedidosImagem" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Garmin Store</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ciaC:MeusPedidosImagem ID="cmpMeusPedidosImagem" runat="server"></ciaC:MeusPedidosImagem>
    </div>
    </form>
</body>
</html>
