﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="QrcCarrinho.aspx.cs" Inherits="CiaShop.Loja.Assets.Templates._1.QrcCarrinho" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Geração da imagem QR Code</title>
</head>
<body>
    <form id="form2" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        o HTML do arquivo não é utilizado na geração da imagem QR Code
    </form>
</body>
</html>
